expense-tracker-to-sheets/expense-tracker.json
{
  "createdAt": "2025-09-04T03:46:01.810Z",
  "updatedAt": "2025-09-06T03:18:08.000Z",
  "id": "pBj4TeUuv5qOk8LC",
  "name": "Expense Tracker -> Google Sheets",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c542d41f-7dca-4d2f-a6e0-c0cc9227aa04",
      "name": "Telegram Trigger",
      "webhookId": "9af5230d-57a9-4f29-b09d-39ebf5a8a743",
      "credentials": {
        "telegramApi": {
          "id": "eZBj2895lix2am2E",
          "name": "salmanadnan0206 minglobi "
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant for an Expense Tracker.\n\nThe user will provide with an expense or asking for the expenses.\n\nYou must call \"Get Expense\" tool in all scenarios.\n\nIf the user asks to add an expense, then call \"Add Expense\" first, then \"Get Expense\", combine all the prices. Then, return with this: \"Your $[X] for [Y (Topic)] has been added.\\nThe total expense is $[X].\" And that's it. NOTHING ELSE.\n\nIf the user asks about specific info about the expense, then \"ONLY\" call \"Get Expense\", retrieve the relevant info, and return with the response ONLY and nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "585ea017-b2f5-458a-92a8-c3e7d484ffff",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "2a2d3dfb-43e6-491c-9f9d-fc3b4c02810e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9uPBjgygdbPHMRit",
          "name": "ammarowais70"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Append row in sheet in Google SheetsThe tool's name is \"Add Expense\"",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Topic', `Topic defined by the message. If not defined, then just name it \"Another\"`, 'string') }}",
            "Expense": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Expense', `Price defined in the message. If not defined, then just say \"$0\"`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expense",
              "displayName": "Expense",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        400,
        208
      ],
      "id": "7545d166-a1b2-4697-a3ab-a8edb4d96b2d",
      "name": "Add Expense",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XdUlWBkbzjr8laJL",
          "name": "salmanadnan0206"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets. \nThe tool's name is \"Get Expense\"",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        272,
        208
      ],
      "id": "60dbe11a-1350-4c4c-b131-bc1b5460ea2c",
      "name": "Get Expense",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XdUlWBkbzjr8laJL",
          "name": "salmanadnan0206"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "2c769f57-dc29-485c-9337-7ccd956de6bf",
      "name": "Send a text message",
      "webhookId": "d7b8f9a2-f10e-4cf4-8496-5304f3e34724",
      "credentials": {
        "telegramApi": {
          "id": "eZBj2895lix2am2E",
          "name": "salmanadnan0206 minglobi "
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add Expense": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Expense": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9c1c69c4-6599-4cd6-800c-6cd3c24ae19c",
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-09-04T03:46:01.820Z",
      "updatedAt": "2025-09-04T03:46:01.820Z",
      "role": "workflow:owner",
      "workflowId": "pBj4TeUuv5qOk8LC",
      "projectId": "1E6nRnGi8VBThoy6",
      "project": {
        "createdAt": "2025-08-30T07:23:19.064Z",
        "updatedAt": "2025-08-30T07:24:28.959Z",
        "id": "1E6nRnGi8VBThoy6",
        "name": "It Expert <user@example.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}