submagic-video-clip-generator/workflow.json
{
  "name": "Demo Submagic Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        208,
        1200
      ],
      "id": "d56dc540-3136-4917-8231-dc2b9d91e9f7",
      "name": "New Video Added",
      "notes": "📍 STEP 1: TRIGGER\n\nPolls Google Sheets every 60 seconds for new rows.\n\n🔍 What it checks:\n• New rows added to 'Video Queue' sheet\n• Looks for status='pending'\n\n⏱️ Timing: Checks every 1 minute\n\n💡 Demo Tip: After adding a URL, workflow fires within 60 seconds max"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.youtube_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        416,
        1200
      ],
      "id": "f53ea953-a9dc-4895-a99c-c5ec73ab6449",
      "name": "Check If Needs Processing",
      "notes": "✅ VALIDATION CHECK\n\nEnsures row is ready to process.\n\n🔍 Checks:\n1. Status equals 'pending'\n2. YouTube URL is not empty\n\n✓ Both true → Process\n✗ Either false → Skip\n\n💡 This prevents processing duplicate or invalid entries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.submagic.co/api/v1/magic-clips",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "youtubeUrl",
              "value": "={{ $json.youtube_url }}"
            },
            {
              "name": "numberOfClips",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        640,
        1200
      ],
      "id": "12e64ea2-f3d1-4497-a1e9-cd76139d88f9",
      "name": "Generate Clips",
      "notes": "📍 STEP 2: API CALL\n\nSends YouTube URL to video processing API.\n\n📤 Request:\n• Method: POST\n• Endpoint: /magic-clips\n• Body: youtubeUrl + numberOfClips (3)\n\n📥 Response:\n• Project ID (for tracking)\n• Initial status\n\n⚠️ CONFIG NEEDED:\n• Add API credentials in node settings\n• Header: X-API-Key or similar\n\n💡 Demo Tip: Point out this works with any clip API (Submagic, OpusClip, etc.)"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "processing",
            "project_id": "={{ $json.id }}",
            "created_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "youtube_url",
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "project_id",
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        864,
        1200
      ],
      "id": "6fdcb3b3-bed8-4d53-ad24-6e9522ed4038",
      "name": "Update Status",
      "notes": "📍 STEP 3: STATUS UPDATE\n\nUpdates Google Sheets with processing info.\n\n✏️ Updates:\n• status → 'processing'\n• project_id → API response ID\n• created_at → Current timestamp\n\n🎯 Purpose:\n• User sees immediate feedback\n• Prevents duplicate processing\n• Enables status tracking\n\n💡 Demo Tip: Show the Google Sheet updating in real-time (yellow → orange color)"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1088,
        1200
      ],
      "webhookId": "demo-wait-webhook",
      "id": "9f179b4e-22e3-4b96-abc1-8e59998143c7",
      "name": "Wait for Processing",
      "notes": "⏳ INTELLIGENT PAUSE\n\nWaits 30 seconds before checking API status.\n\n⏱️ Why 30 seconds?\n• Clips usually take 1-3 min to generate\n• Checking every 30s balances speed vs API limits\n• Prevents excessive polling\n\n🔄 Loop:\nThis node is part of a retry loop.\nIf clips aren't ready, flow returns here.\n\n💡 Demo Tip: Mention this prevents hammering the API with requests"
    },
    {
      "parameters": {
        "url": "=https://api.submagic.co/api/v1/projects/{{ $json.project_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1296,
        1200
      ],
      "id": "3699c210-1df9-4eeb-9ac9-c7e922757130",
      "name": "Check Clip Status",
      "notes": "📍 STEP 4: STATUS CHECK\n\nPolls API to see if clips are ready.\n\n📤 Request:\n• Method: GET\n• Endpoint: /projects/{project_id}\n\n📥 Response:\n• status: 'processing' or 'completed'\n• magicClips: [] (array of clips when ready)\n\n🔄 Polling Strategy:\nChecks every 30s until status='completed'\n\n💡 Demo Tip: This is the 'smart waiting' - workflow knows when clips are done"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        1200
      ],
      "id": "b5642a8b-c36d-4f6d-9713-b6a0c19fd3e0",
      "name": "Is Completed?",
      "notes": "🔀 DECISION POINT\n\nChecks if clips are ready to save.\n\n✓ TRUE (status='completed'):\n→ Proceed to extract clips\n→ Save to Google Sheets\n→ Mark video as complete\n\n✗ FALSE (status='processing'):\n→ Loop back to 'Wait for Processing'\n→ Try again in 30 seconds\n\n⚡ No infinite loop protection in this demo version!\n\n💡 Production Tip: Add max retry counter (e.g., 20 attempts = 10 minutes)"
    },
    {
      "parameters": {
        "jsCode": "// Extract clips from the API response\nconst clips = $input.first().json.magicClips || [];\n\n// Transform each clip into a separate item\nreturn clips.map((clip, index) => ({\n  json: {\n    clip_number: index + 1,\n    clip_id: clip.id,\n    title: clip.title,\n    duration: clip.duration,\n    virality_score: clip.viralityScores?.total || 0,\n    download_url: clip.downloadUrl,\n    youtube_id: $('New Video Added').item.json.youtube_url.split('v=')[1] || '',\n    project_id: $input.first().json.id\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        1136
      ],
      "id": "a14da9b3-d185-4561-a7a0-a157f75752fb",
      "name": "Extract Clips",
      "notes": "📍 STEP 5: DATA EXTRACTION\n\nParses API response and extracts clip data.\n\n🔄 Transformation:\n• Takes single API response (1 video)\n• Converts to multiple items (3 clips)\n• Each clip becomes separate row in Sheet\n\n📊 Extracted Fields:\n• clip_id, title, duration\n• virality_score (AI prediction)\n• download_url\n• youtube_id (from original URL)\n\n💡 Demo Tip: Show how 1 video → 3 separate clips with metadata"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=CLIPS_SHEET_ID",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "youtube_id": "={{ $json.youtube_id }}",
            "clip_id": "={{ $json.clip_id }}",
            "title": "={{ $json.title }}",
            "duration": "={{ $json.duration }}",
            "virality_score": "={{ $json.virality_score }}",
            "download_url": "={{ $json.download_url }}",
            "created_at": "={{ $now.toISO() }}"
          },
          "schema": [
            {
              "id": "youtube_id",
              "type": "string"
            },
            {
              "id": "clip_id",
              "type": "string"
            },
            {
              "id": "title",
              "type": "string"
            },
            {
              "id": "duration",
              "type": "number"
            },
            {
              "id": "virality_score",
              "type": "number"
            },
            {
              "id": "download_url",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1968,
        1136
      ],
      "id": "f32edd20-e71f-44f3-a017-4094a43bd009",
      "name": "Save Clips to Sheet",
      "notes": "📍 STEP 6: SAVE CLIPS\n\nWrites all clips to 'Generated Clips' sheet.\n\n📊 Each clip gets its own row with:\n• youtube_id (links back to source)\n• clip_id (unique identifier)\n• title (AI-generated)\n• duration (seconds)\n• virality_score (0-100)\n• download_url (clickable link)\n• created_at (timestamp)\n\n⚠️ CONFIG NEEDED:\n• Set correct sheet gid for 'Generated Clips'\n\n💡 Demo Tip: This is where users see their downloadable clips appear"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "clips_generated": "={{ $('Extract Clips').all().length }}",
            "completed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "project_id"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2176,
        1136
      ],
      "id": "31cdef53-77d2-43c5-b88d-de6e6d749e3e",
      "name": "Mark Complete",
      "notes": "📍 STEP 7: FINAL UPDATE\n\nMarks original video as complete.\n\n✏️ Updates in 'Video Queue':\n• status → 'completed' (green)\n• clips_generated → 3 (or actual count)\n• completed_at → Current timestamp\n\n🎯 Purpose:\n• User sees process is done\n• Prevents re-processing\n• Provides completion audit trail\n\n🎉 WORKFLOW COMPLETE!\n\n💡 Demo Tip: Show the status changing from orange to green in Sheet"
    },
    {
      "parameters": {
        "content": "## 🎬 VIDEO CLIP GENERATOR WORKFLOW\n\n**What This Does:**\nAutomatically converts YouTube videos into viral-ready short clips with AI-powered virality scoring.\n\n**Process Flow:**\n1. Add YouTube URL to Google Sheets\n2. Workflow detects new video (polls every 60s)\n3. Sends to API for clip generation\n4. Polls API until clips are ready (30s intervals)\n5. Extracts clip metadata (title, score, download URL)\n6. Saves clips to Google Sheets\n7. Marks original video as complete\n\n**Key Features:**\n✅ Fully automated (zero manual steps)\n✅ Smart polling (waits for API completion)\n✅ Organized output (all clips tracked in Sheets)\n✅ Virality scoring (prioritize best clips)\n✅ Status tracking (pending → processing → completed)\n\n**Demo Highlights:**\n• Show color changes in Google Sheets\n• Explain 30-second polling strategy\n• Highlight virality scores (90+ = excellent)\n• Point out retry loop mechanism\n\n**Typical Timing:**\n• Trigger: <60 seconds after URL added\n• Processing: 1-3 minutes total\n• End-to-end: ~2-5 minutes per video",
        "height": 684,
        "width": 576,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "id": "f04f4333-119b-42c5-9af6-b144f3e82c3b",
      "name": "Workflow Overview",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📥 PHASE 1: INPUT\n\n**Trigger Detection**\n\nMonitors Google Sheets for new YouTube URLs every 60 seconds.\n\n**What Happens:**\n1. Poll 'Video Queue' sheet\n2. Detect new rows\n3. Check status='pending'\n4. Validate YouTube URL exists\n\n**Color Code:** Blue\n**Nodes:** 2\n**Timing:** <60 seconds",
        "height": 624,
        "width": 376,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        848
      ],
      "id": "9335bd29-babc-4cd9-a28b-80560c205447",
      "name": "Phase 1 Note",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚙️ PHASE 2: PROCESSING\n\n**API Integration & Polling Loop**\n\nSends video to API and intelligently waits for completion.\n\n**What Happens:**\n1. POST YouTube URL to API\n2. Receive Project ID\n3. Update status to 'processing'\n4. Wait 30 seconds\n5. Check if clips are ready\n6. Repeat steps 4-5 until done\n\n**Color Code:** Purple\n**Nodes:** 5\n**Timing:** 1-3 minutes average\n\n**Smart Polling:**\nChecks every 30s to balance speed vs API limits.\nNo max retry in demo (add in production!).",
        "height": 724,
        "width": 596,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        736
      ],
      "id": "73aea3db-edc1-482e-a1a0-26aaff140658",
      "name": "Phase 2 Note",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 💾 PHASE 3: OUTPUT\n\n**Data Extraction & Storage**\n\nParses clips and saves to Google Sheets with metadata.\n\n**What Happens:**\n1. Extract clips from API response\n2. Transform into individual items\n3. Append to 'Generated Clips' sheet\n4. Update original row to 'completed'\n\n**Data Saved:**\n• Clip ID, Title, Duration\n• Virality Score (AI prediction)\n• Download URL (clickable)\n• Timestamps\n\n**Color Code:** Green\n**Nodes:** 3\n**Timing:** <10 seconds",
        "height": 804,
        "width": 588,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1696,
        688
      ],
      "id": "7bd00b38-f4aa-4ce9-a55e-3d81d1daf78d",
      "name": "Phase 3 Note",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔄 RETRY LOOP\n\n**Intelligent Waiting**\n\nIf clips aren't ready, wait 30s and check again.\n\n**Loop Path:**\nIs Completed? [FALSE]\n  ↓\nWait for Processing (30s)\n  ↓\nCheck Clip Status\n  ↓\nIs Completed? [check again]\n\n**When it stops:**\nOnly when status='completed'\n\n⚠️ **Production Note:**\nAdd max retry counter to prevent infinite loops (e.g., 20 tries = 10 min timeout)",
        "height": 696,
        "width": 632,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        768
      ],
      "id": "0eab3a10-6df9-475a-83ef-2bdceed748e2",
      "name": "Retry Loop Note",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚙️ CONFIGURATION CHECKLIST\n\n**Before Demo:**\n\n☐ Google Sheets Setup\n  • Create 'Video Queue' sheet\n  • Create 'Generated Clips' sheet\n  • Add sample data\n\n☐ n8n Credentials\n  • Connect Google Sheets OAuth\n  • Add API credentials (Submagic/OpusClip)\n  • Test API connection\n\n☐ Node Configuration\n  • Update spreadsheet ID (4 nodes)\n  • Update sheet gid for clips\n  • Verify API endpoints\n\n☐ Test Run\n  • Add test YouTube URL\n  • Verify trigger fires\n  • Check clips are saved\n  • Confirm status updates\n\n☐ Demo Prep\n  • Have 2-3 YouTube URLs ready\n  • Open Google Sheet in browser\n  • Clear previous test data\n  • Activate workflow",
        "height": 624,
        "width": 404,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        0
      ],
      "id": "90ae2cbf-4dd3-4934-87a7-5d82e614a085",
      "name": "Configuration Checklist",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 💡 DEMO TALKING POINTS\n\n**Opening (30s):**\n\"This workflow automates video clip creation. You paste a YouTube URL, and within minutes you have 3 AI-generated clips ready to post.\"\n\n**Show Flow (2 min):**\n1. Point to overview note (big picture)\n2. Trace through phases (blue → purple → green)\n3. Explain polling loop (yellow note)\n4. Highlight node comments (hover to read)\n\n**Live Demo (3 min):**\n1. Open Google Sheet\n2. Paste YouTube URL\n3. Set status='pending'\n4. Show workflow activating\n5. Watch status change to 'processing'\n6. Wait for completion (~2 min)\n7. Show clips appearing in Sheet\n\n**Key Value Props:**\n✅ \"Zero manual work after pasting URL\"\n✅ \"Smart waiting - checks every 30s\"\n✅ \"Virality scores help prioritize\"\n✅ \"All clips organized in one place\"\n\n**Questions to Expect:**\n• How long does it take? (1-3 min)\n• Can I process multiple? (Yes, parallel)\n• What if API fails? (Add error handling)\n• Cost? (Depends on API plan)",
        "height": 676,
        "width": 524
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        0
      ],
      "id": "06438dc9-a6fe-40bd-9174-0449b786778a",
      "name": "Demo Script",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🚀 EXTENSIONS & UPGRADES\n\n**Easy Additions:**\n• Slack notification on completion\n• Email with clip download links\n• Filter clips by virality score (>85)\n• Google Drive upload\n• Auto-schedule to social media\n\n**Advanced Features:**\n• Video editing (captions, music)\n• Multi-platform posting (TikTok, IG, YouTube)\n• A/B testing different clips\n• Analytics tracking\n• Custom branding overlays\n\n**Production Hardening:**\n• Error handling & retry limits\n• Logging & monitoring\n• API rate limit handling\n• Duplicate video detection\n• Webhook triggers (faster than polling)\n\n**Your Premium Version:**\n[Mention your advanced workflow features here]",
        "height": 580,
        "width": 376,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        0
      ],
      "id": "4d034d66-e61c-45c6-b0d1-bb1bb14bec10",
      "name": "Extensions Note",
      "typeVersion": 1
    }
  ],
  "connections": {
    "New Video Added": {
      "main": [
        [
          {
            "node": "Check If Needs Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Needs Processing": {
      "main": [
        [
          {
            "node": "Generate Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Clips": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Check Clip Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Clip Status": {
      "main": [
        [
          {
            "node": "Is Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "node": "Extract Clips",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Clips": {
      "main": [
        [
          {
            "node": "Save Clips to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Clips to Sheet": {
      "main": [
        [
          {
            "node": "Mark Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "tags": []
}