daily-health-tip-bot/workflow.json
{
  "createdAt": "2025-09-04T04:02:55.465Z",
  "updatedAt": "2025-09-06T03:15:37.000Z",
  "id": "qvD0CQZJrdD6gKtU",
  "name": "Daily Health Tip Bot",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12,
              "triggerAtMinute": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "11b69444-284a-4616-bcf0-9c43430da289",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ea820d3-5461-4074-90fc-ade1ae0800c8",
              "name": "",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "5e1f3fc7-b616-4d39-8bd6-01404ea2767d",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Return the health tip and health tip ONLY.",
        "options": {
          "systemMessage": "You are a helpful assistant. Your job is to think of a health tip for a person. Concrete, astute, and pertinent.\nYou must then return the health tip and health tip ONLY."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "4bcf21c4-11d2-4b5f-9ab7-7a439059206d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "8d2d5f3a-f0bc-42fa-89d5-1e46582c50a7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9uPBjgygdbPHMRit",
          "name": "ammarowais70"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "12a2b51d-10ad-41bb-a31f-50474e76d9d4"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "00011060-536f-4e08-928f-1aaf2ae6e491",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        0
      ],
      "id": "b1eb6636-d2d3-448e-babe-08bebbe681ab",
      "name": "Send a text message",
      "webhookId": "7ed8052f-e880-4024-ba72-70f3325f12dc",
      "credentials": {
        "telegramApi": {
          "id": "eZBj2895lix2am2E",
          "name": "salmanadnan0206 minglobi "
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4ed668b9-0c72-48c5-ac60-dc3a76d9a507",
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-09-04T04:02:55.473Z",
      "updatedAt": "2025-09-04T04:02:55.473Z",
      "role": "workflow:owner",
      "workflowId": "qvD0CQZJrdD6gKtU",
      "projectId": "1E6nRnGi8VBThoy6",
      "project": {
        "createdAt": "2025-08-30T07:23:19.064Z",
        "updatedAt": "2025-08-30T07:24:28.959Z",
        "id": "1E6nRnGi8VBThoy6",
        "name": "Workflow Owner <owner@example.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}