instagram-link-finder-outreach/workflow.json
{
  "name": "Instagram Link Finder Automation - Outreach",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        16
      ],
      "id": "5acaffe5-cb98-4c78-ba69-c929054a4b4e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Lead List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        16
      ],
      "id": "8279777c-a805-4e8f-9d75-543edc912e9e",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        0
      ],
      "id": "37a46549-40f8-4113-b153-49f9a29dcb0b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=You are a research assistant helping evaluate a business's online presence.\n\nBusiness Details:\n- Name: {{ $json.Name }}\n- Address: {{ $json.Address }}\n- Website: {{ $json.Website }}\n\nTASK 1 - Find Instagram:\nSearch for the official Instagram account of this specific business.\n- If website is provided (not \"-\"), look for Instagram links associated with it.\n- Search \"{{ $json.Name }} {{ $json.Address }} Instagram\"\n- Try \"site:instagram.com {{ $json.Name }}\" with the city from the address\n- Only return an account you are reasonably confident belongs to THIS exact business location\n\nTASK 2 - Evaluate Website:\nIf a website is provided (not \"-\"), evaluate it on these criteria:\n1. Looks professional and modern (not outdated)\n2. Has clear contact info visible (phone, email, or address)\n3. Has key sections: About, Services, Contact\n4. Appears to be a real business website (not a placeholder or error page)\n\nIf website is \"-\", set website_quality to \"no_website\".\n\nReturn ONLY this JSON, no explanation, no markdown, no backticks:\n{\n  \"instagram_url\": \"https://www.instagram.com/handle or null\",\n  \"instagram_confidence\": \"high/medium/low/none\",\n  \"instagram_reason\": \"one sentence\",\n  \"website_quality\": \"good/bad/no_website\",\n  \"website_reason\": \"one sentence\"\n}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 2,
      "position": [
        1040,
        16
      ],
      "id": "885271f8-7eca-4a01-8357-57a017b9ac89",
      "name": "Message a model"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nconst content = response.choices[0].message.content;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  parsed = {\n    instagram_url: null,\n    instagram_confidence: \"none\",\n    instagram_reason: \"Failed to parse response\",\n    website_quality: \"unknown\",\n    website_reason: \"Failed to parse response\"\n  };\n}\n\nconst cost = response.usage?.cost?.total_cost ?? null;\n\nreturn [{\n  json: {\n    instagram_url: parsed.instagram_url,\n    instagram_confidence: parsed.instagram_confidence,\n    instagram_reason: parsed.instagram_reason,\n    website_quality: parsed.website_quality,\n    website_reason: parsed.website_reason,\n    cost_usd: cost\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        16
      ],
      "id": "4ff4bdf8-aa4d-4fd3-be2d-cfb4c998a98d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Lead List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reason": "={{ $json.instagram_reason }}",
            "Confidence": "={{ $json.instagram_confidence }}",
            "Instagram": "={{ $json.instagram_url }}",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Website Quality": "={{ $json.website_quality }}",
            "Website Reason": "={{ $json.website_reason }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviews",
              "displayName": "Reviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website Quality",
              "displayName": "Website Quality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website Reason",
              "displayName": "Website Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        16
      ],
      "id": "9cc68e40-44b3-421b-bb63-a8bbd2e7e9df",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4984046f-a3e5-4f6f-9983-17fa97bb3577",
              "leftValue": "={{ $json.Confidence }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        16
      ],
      "id": "ca63c91f-7cc9-47c4-9c06-2c078d1635a8",
      "name": "If"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "tags": []
}