calcom-trigger-workflow/workflow.json
{
  "name": "Cal.com Trigger Workflow",
  "nodes": [
    {
      "parameters": {
        "events": [
          "BOOKING_CREATED"
        ],
        "options": {
          "eventTypeId": 2926528
        }
      },
      "type": "n8n-nodes-base.calTrigger",
      "typeVersion": 2,
      "position": [
        -16,
        0
      ],
      "id": "759b3368-fb48-4d61-8f68-09f77feb8cfc",
      "name": "Cal.com Trigger",
      "webhookId": "85366960-6bcd-40ca-bd18-8e35f2142159",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        512
      ],
      "id": "6687b9fe-16cf-4d22-9d19-a9a52143a0fb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2c0c10a-e39d-4044-9248-4e3f8e0ff1c7",
              "leftValue": "={{ $json.organizer.name }}",
              "rightValue": "Digitalise Agency",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "cc5a7b96-e0dd-4526-9919-5a5ce6d47f4c",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        432,
        96
      ],
      "id": "b31607fc-870f-4b2e-bab7-456d9ede2885",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "The Sales Agent - CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": " CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Email": "={{ $json.attendees[0].email }}",
            "Call Scheduled?": "true",
            "Start Time": "={{ $json.startTime }}",
            "End Time": "={{ $json.endTime }}",
            "First Name": "={{ $json.attendees[0].firstName }}",
            "Last Name": "={{ $json.attendees[0].lastName }}",
            "Full Name": "={{ $json.attendees[0].name }}",
            "Company Name": "={{ $json.responses[\"business-name\"].value }}",
            "Website (Optional)": "={{ $json.responses.website.value }}",
            "Main Interest": "={{ $json.responses.reason.value }}",
            "Preparation Notes": "={{ $json.responses.title.value }}",
            "Additional Notes": "={{ $json.responses.notes.value }}",
            "Guests": "={{ $json.responses.guests.value.join(\", \") }}",
            "Contact Phone": "='{{ $('Cal.com Trigger').item.json.responses.attendeePhoneNumber.value }}",
            "Proposal sent?": "false",
            "Closed?": "false",
            "Contract Sent? ": "false",
            "Contract Signed?": "false",
            "F1?": "false",
            "F2?": "false",
            "F3?": "false",
            "F4?": "false",
            "Location": "={{ $json.metadata.videoCallUrl }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Address",
              "displayName": "Company Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Industry",
              "displayName": "Company Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Phone",
              "displayName": "Contact Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website (Optional)",
              "displayName": "Website (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Main Interest",
              "displayName": "Main Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Preparation Notes",
              "displayName": "Preparation Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Additional Notes",
              "displayName": "Additional Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Guests",
              "displayName": "Guests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Started Sequence?",
              "displayName": "Started Sequence?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sequence Last Date",
              "displayName": "Sequence Last Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Follow Ups",
              "displayName": "Follow Ups",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Call Scheduled?",
              "displayName": "Call Scheduled?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Time",
              "displayName": "Start Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "End Time",
              "displayName": "End Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Showed Call?",
              "displayName": "Showed Call?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sales Transcript ID ",
              "displayName": "Sales Transcript ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Latest/Closed Transcript ID",
              "displayName": "Latest/Closed Transcript ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Proposal sent?",
              "displayName": "Proposal sent?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Closed?",
              "displayName": "Closed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contract Sent? ",
              "displayName": "Contract Sent? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contract ID ",
              "displayName": "Contract ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract Signed?",
              "displayName": "Contract Signed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F1?",
              "displayName": "F1?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F2?",
              "displayName": "F2?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F3?",
              "displayName": "F3?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F4?",
              "displayName": "F4?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        -96
      ],
      "id": "20bb0648-2b49-4643-9944-5b47abc43885",
      "name": "Update Call Scheduled Progress",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "The Sales Agent - CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": " CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Call Scheduled?",
              "lookupValue": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        512
      ],
      "id": "78a01eb9-6505-4d35-83eb-abe3d2440ccd",
      "name": "Get row(s) in sheet",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ec0e88fb-3267-42d9-a8b5-e0579bc6531c",
              "leftValue": "={{ $json[\"Start Time\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        512
      ],
      "id": "11999af3-fab4-4347-a54d-c939f6c29eac",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "99982af6-4cc2-4d84-af4f-efa34c0c70f2",
              "leftValue": "={{ DateTime.now().diff(DateTime.fromISO($json[\"Start Time\"]), \"minutes\").minutes * -1 }}",
              "rightValue": 1440,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "451fa18a-dee2-4d5e-8bb4-09b65419a0f4",
              "leftValue": "={{ DateTime.now().diff(DateTime.fromISO($json[\"Start Time\"]), \"minutes\").minutes * -1 }}",
              "rightValue": 120,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "51ebb46b-0019-484b-b9a1-5994249fb757",
              "leftValue": "={{ $json[\"F2?\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        512
      ],
      "id": "263afe91-de8b-4f4a-a381-5a71eebcd497",
      "name": "If2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Cal.com Trigger').item.json.attendees[0].email }}",
        "subject": "=Confirmation: DA Discovery Call on {{ $('Cal.com Trigger').item.json.startTime.toDateTime().format('dd/MM/yyyy') }}",
        "message": "=<p>Hey {{ $('Cal.com Trigger').item.json.attendees[0].name }},</p>\n\n<p>Your discovery call with <strong>Digitalise Agency</strong> is confirmed for <strong>{{ $('Cal.com Trigger').item.json.startTime.toDateTime().format('dd/MM/yyyy') }}</strong> AT <strong>{{ $('Cal.com Trigger').item.json.startTime.toDateTime().format('hh:mm a') }}</strong>.</p>\n\n<p>This session will be hosted via <strong>Google Meet</strong>. To join the call, click the following link at your scheduled time: {{ $('Cal.com Trigger').item.json.metadata.videoCallUrl }}</p>\n\n<p><strong>During the call, we will:</strong></p>\n<ul>\n  <li>Gain clarity on your current business position and growth objectives.</li>\n  <li>Evaluate how our <strong>AI-Powered SEO Blog Funnel</strong> can specifically support your goals.</li>\n  <li>Discuss potential enrollment into our services if we both agree it's the right fit.</li>\n</ul>\n\n<p>If you have any questions beforehand, simply reply to this email — we're here to help.</p>\n\n<p>Looking forward to our conversation.</p>\n\n<p>Best regards,<br>\n<strong>Salman</strong>,<br>\nCEO,<br>\n<strong>Digitalise Agency</strong></p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        -96
      ],
      "id": "88dd893d-a6c0-471d-98cf-04a44c5c7bf3",
      "name": "Follow-Up 1",
      "webhookId": "4b04140f-9365-42bb-a506-41c6f34bf6cb",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json[\"Contact Email\"] }}{{\n  (() => {\n    const val = $('Get row(s) in sheet').item.json.Guests;\n    if (!val || val.length === 0) return '';\n    const list = Array.isArray(val) ? val.join(', ') : val;\n    return ', ' + list;\n  })()\n}}",
        "subject": "=Reminder: DA Discovery Call with Salman at {{ $('Get row(s) in sheet').item.json['Start Time'].toDateTime().format('hh:mm a') }} on {{ $('Get row(s) in sheet').item.json['Start Time'].toDateTime().format('dd/MM/yyyy') }}",
        "message": "=<p>Hey {{ $('Get row(s) in sheet').item.json['First Name'] }},</p>\n\n<p>Just a quick reminder that your <strong>DA Discovery Call</strong> is scheduled for <strong>{{ $('Get row(s) in sheet').item.json['Start Time'].toDateTime().format('dd/MM/yyyy') }}</strong> at <strong>{{ $('Get row(s) in sheet').item.json['Start Time'].toDateTime().format('hh:mm a') }}</strong>.</p>\n\n<p>We'll meet via <strong>Google Meet</strong>—simply click this link to join at your scheduled time: {{ $json.Location }}</p>\n\n<p><strong>To ensure you get maximum value from our session, please:</strong></p>\n<ul>\n  <li>Find a quiet, distraction-free space for the 30-minute call.</li>\n  <li>Outline your primary business objectives and any challenges you're facing so we can provide tailored advice.</li>\n</ul>\n\n<p>Looking forward to our discussion tomorrow.</p>\n\n<p>Best regards,<br>\n<strong>Salman</strong>,<br>\nCEO,<br>\n<strong>Digitalise Agency</strong></p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        320
      ],
      "id": "5d215d7a-a2ad-4c9c-a990-693933d8914a",
      "name": "Follow-Up 2",
      "webhookId": "4b04140f-9365-42bb-a506-41c6f34bf6cb",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "99982af6-4cc2-4d84-af4f-efa34c0c70f2",
              "leftValue": "={{ DateTime.now().diff(DateTime.fromISO($json[\"Start Time\"]), \"minutes\").minutes * -1 }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "2ea7f3ee-a459-4267-a7f9-c8a97851b54d",
              "leftValue": "={{ DateTime.now().diff(DateTime.fromISO($json[\"Start Time\"]), \"minutes\").minutes * -1 }}",
              "rightValue": 11,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "51ebb46b-0019-484b-b9a1-5994249fb757",
              "leftValue": "={{ $json[\"F3?\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        752
      ],
      "id": "df776462-734a-4db4-b277-8e69e46f7911",
      "name": "If3"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json[\"Contact Email\"] }}",
        "subject": "=DA Discovery Call Begins in {{ Math.floor(DateTime.now().diff(DateTime.fromISO($json[\"Start Time\"]), \"minutes\").minutes * -1) }} Minutes",
        "message": "=<p>Hey {{ $('Get row(s) in sheet').item.json['First Name'] }},</p>\n\n<p>Just a quick reminder that your <strong>DA Discovery Call</strong> is scheduled to begin in <strong>one hour</strong>. Please note this meeting is via the Google Meet link below.</p>\n\n<p><strong>Quick Access Details:</strong></p>\n<ul>\n  <li>🔗 <strong>Meeting Link:</strong> {{ $('Get row(s) in sheet').item.json.Location }}</li>\n  <li>📅 <strong>Time:</strong> {{ $('Get row(s) in sheet').item.json['Start Time'].toDateTime().format('HH:mm') }}</li>\n</ul>\n\n<p>We respect your time and are committed to making this session productive and valuable for you and your business.</p>\n\n<p>Best regards,<br>\n<strong>Salman</strong>,<br>\nCEO,<br>\n<strong>Digitalise Agency</strong></p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1104,
        656
      ],
      "id": "78193b17-7dc8-4dfc-b61c-6ca734c16d92",
      "name": "Follow-Up 3",
      "webhookId": "4b04140f-9365-42bb-a506-41c6f34bf6cb",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "99982af6-4cc2-4d84-af4f-efa34c0c70f2",
              "leftValue": "={{ DateTime.now().diff(DateTime.fromISO($json[\"Start Time\"]), \"minutes\").minutes * -1 }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "2ea7f3ee-a459-4267-a7f9-c8a97851b54d",
              "leftValue": "={{ DateTime.now().diff(DateTime.fromISO($json[\"Start Time\"]), \"minutes\").minutes * -1 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "51ebb46b-0019-484b-b9a1-5994249fb757",
              "leftValue": "={{ $json[\"F4?\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1136,
        1024
      ],
      "id": "a92a36f7-c2e2-419b-9f6a-77eab45539a8",
      "name": "If4"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json[\"Contact Email\"] }}",
        "subject": "=Reminder: DA Discovery Call with Salman at {{ $('Get row(s) in sheet').item.json['Start Time'].toDateTime().format('HH:mm') }} on {{ $('Get row(s) in sheet').item.json['Start Time'].toDateTime().format('dd-MM-yyyy') }}",
        "message": "=<p>Hey {{ $('Get row(s) in sheet').item.json['First Name'] }},</p>\n\n<p>Your <strong>DA Discovery Call</strong> is starting in <strong>5 minutes</strong>.</p>\n\n<p>Please join the Google Meet call now by clicking here: {{ $('Get row(s) in sheet').item.json.Location }}</p>\n\n<p>Looking forward to speaking with you shortly!</p>\n\n<p>Best regards,<br>\n<strong>Salman</strong>,<br>\nCEO,<br>\n<strong>Digitalise Agency</strong></p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1360,
        1024
      ],
      "id": "3f5874dc-bf8e-4594-b5fb-4c2a0282136e",
      "name": "Follow-Up  4",
      "webhookId": "4b04140f-9365-42bb-a506-41c6f34bf6cb",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "The Sales Agent - CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": " CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Email": "={{ $('Cal.com Trigger').item.json.attendees[0].email }}",
            "F1?": "true",
            "Started Sequence?": "true",
            "Sequence Last Date": "={{ $now.toFormat(\"yyyy-MM-dd '-' hh:mm:ss a\") }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Address",
              "displayName": "Company Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Industry",
              "displayName": "Company Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Phone",
              "displayName": "Contact Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website (Optional)",
              "displayName": "Website (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Main Interest",
              "displayName": "Main Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preparation Notes",
              "displayName": "Preparation Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Additional Notes",
              "displayName": "Additional Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Guests",
              "displayName": "Guests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Started Sequence?",
              "displayName": "Started Sequence?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sequence Last Date",
              "displayName": "Sequence Last Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Ups",
              "displayName": "Follow Ups",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Call Scheduled?",
              "displayName": "Call Scheduled?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Start Time",
              "displayName": "Start Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "End Time",
              "displayName": "End Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Showed Call?",
              "displayName": "Showed Call?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sales Transcript ID ",
              "displayName": "Sales Transcript ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Latest/Closed Transcript ID",
              "displayName": "Latest/Closed Transcript ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Proposal sent?",
              "displayName": "Proposal sent?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Closed?",
              "displayName": "Closed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract Sent? ",
              "displayName": "Contract Sent? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract ID ",
              "displayName": "Contract ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract Signed?",
              "displayName": "Contract Signed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F1?",
              "displayName": "F1?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F2?",
              "displayName": "F2?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F3?",
              "displayName": "F3?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F4?",
              "displayName": "F4?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        -96
      ],
      "id": "e07e633c-8c6e-4620-852e-778adfe3fab3",
      "name": "Update F1 Sheets",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "The Sales Agent - CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": " CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Email": "={{ $('Get row(s) in sheet').item.json[\"Contact Email\"] }}",
            "F2?": "true",
            "Sequence Last Date": "={{ $now.toFormat(\"yyyy-MM-dd '-' hh:mm:ss a\") }}",
            "Started Sequence?": "true"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Address",
              "displayName": "Company Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Industry",
              "displayName": "Company Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Phone",
              "displayName": "Contact Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website (Optional)",
              "displayName": "Website (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Main Interest",
              "displayName": "Main Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preparation Notes",
              "displayName": "Preparation Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Additional Notes",
              "displayName": "Additional Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Guests",
              "displayName": "Guests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Started Sequence?",
              "displayName": "Started Sequence?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sequence Last Date",
              "displayName": "Sequence Last Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Ups",
              "displayName": "Follow Ups",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Call Scheduled?",
              "displayName": "Call Scheduled?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Start Time",
              "displayName": "Start Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "End Time",
              "displayName": "End Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Showed Call?",
              "displayName": "Showed Call?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sales Transcript ID ",
              "displayName": "Sales Transcript ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Latest/Closed Transcript ID",
              "displayName": "Latest/Closed Transcript ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Proposal sent?",
              "displayName": "Proposal sent?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Closed?",
              "displayName": "Closed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract Sent? ",
              "displayName": "Contract Sent? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract ID ",
              "displayName": "Contract ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract Signed?",
              "displayName": "Contract Signed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F1?",
              "displayName": "F1?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F2?",
              "displayName": "F2?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F3?",
              "displayName": "F3?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F4?",
              "displayName": "F4?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        320
      ],
      "id": "dbb68216-8944-4cfe-b1a4-339ed1ba970e",
      "name": "Update F2 Sheets",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "The Sales Agent - CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": " CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Email": "={{ $('Get row(s) in sheet').item.json[\"Contact Email\"] }}",
            "F3?": "true",
            "Sequence Last Date": "={{ $now.toFormat(\"yyyy-MM-dd '-' hh:mm:ss a\") }}",
            "Started Sequence?": "true"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Address",
              "displayName": "Company Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Industry",
              "displayName": "Company Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Phone",
              "displayName": "Contact Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website (Optional)",
              "displayName": "Website (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Main Interest",
              "displayName": "Main Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preparation Notes",
              "displayName": "Preparation Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Additional Notes",
              "displayName": "Additional Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Guests",
              "displayName": "Guests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Started Sequence?",
              "displayName": "Started Sequence?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sequence Last Date",
              "displayName": "Sequence Last Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Ups",
              "displayName": "Follow Ups",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Call Scheduled?",
              "displayName": "Call Scheduled?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Start Time",
              "displayName": "Start Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "End Time",
              "displayName": "End Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Showed Call?",
              "displayName": "Showed Call?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sales Transcript ID ",
              "displayName": "Sales Transcript ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Latest/Closed Transcript ID",
              "displayName": "Latest/Closed Transcript ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Proposal sent?",
              "displayName": "Proposal sent?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Closed?",
              "displayName": "Closed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract Sent? ",
              "displayName": "Contract Sent? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract ID ",
              "displayName": "Contract ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract Signed?",
              "displayName": "Contract Signed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F1?",
              "displayName": "F1?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F2?",
              "displayName": "F2?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F3?",
              "displayName": "F3?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F4?",
              "displayName": "F4?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        656
      ],
      "id": "c06fa4b1-2f72-4b6e-8561-60b7fa41440b",
      "name": "Update F3",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "The Sales Agent - CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": " CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Email": "={{ $('Get row(s) in sheet').item.json[\"Contact Email\"] }}",
            "F4?": "true",
            "Sequence Last Date": "={{ $now.toFormat(\"yyyy-MM-dd '-' hh:mm:ss a\") }}",
            "Started Sequence?": "true"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Address",
              "displayName": "Company Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Industry",
              "displayName": "Company Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Phone",
              "displayName": "Contact Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website (Optional)",
              "displayName": "Website (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Main Interest",
              "displayName": "Main Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Preparation Notes",
              "displayName": "Preparation Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Additional Notes",
              "displayName": "Additional Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Guests",
              "displayName": "Guests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Started Sequence?",
              "displayName": "Started Sequence?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sequence Last Date",
              "displayName": "Sequence Last Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Ups",
              "displayName": "Follow Ups",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Call Scheduled?",
              "displayName": "Call Scheduled?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Start Time",
              "displayName": "Start Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "End Time",
              "displayName": "End Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Showed Call?",
              "displayName": "Showed Call?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sales Transcript ID ",
              "displayName": "Sales Transcript ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Latest/Closed Transcript ID",
              "displayName": "Latest/Closed Transcript ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Proposal sent?",
              "displayName": "Proposal sent?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Closed?",
              "displayName": "Closed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract Sent? ",
              "displayName": "Contract Sent? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract ID ",
              "displayName": "Contract ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contract Signed?",
              "displayName": "Contract Signed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F1?",
              "displayName": "F1?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F2?",
              "displayName": "F2?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F3?",
              "displayName": "F3?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F4?",
              "displayName": "F4?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2016,
        1024
      ],
      "id": "2499bd96-41bd-494b-93ce-a147a7206064",
      "name": "Update F4 ",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "from": "YOUR_TWILIO_PHONE_NUMBER",
        "to": "={{ $('Cal.com Trigger').item.json.attendees[0].phoneNumber }}",
        "message": "=Hey {{ $('Cal.com Trigger').item.json.attendees[0].firstName }}, \n\nYour \"DA Strategy Call\" is confirmed for {{ $('Cal.com Trigger').item.json.startTime.toDateTime().format('dd/MM/yyyy') }} at {{ $('Cal.com Trigger').item.json.startTime.toDateTime().format('hh:mm a') }} via Google Meet. The details have been sent to your email.\n\nChat soon!\nSalman\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        880,
        -96
      ],
      "id": "8da3b04a-a6ed-43c4-8107-f063989eb3da",
      "name": "Send an SMS/MMS/WhatsApp message",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "from": "YOUR_TWILIO_PHONE_NUMBER",
        "to": "={{\n(() => {\n  const raw = String($('Get row(s) in sheet').item.json['Contact Phone'] || '');\n\n  // Remove everything except digits and +\n  let phone = raw.replace(/[^0-9+]/g, '');\n\n  // Convert leading 00 to +\n  if (phone.startsWith('00')) {\n    phone = '+' + phone.slice(2);\n  }\n\n  // Add + if missing\n  if (!phone.startsWith('+') && phone.length > 0) {\n    phone = '+' + phone;\n  }\n\n  return phone;\n})()\n}}",
        "message": "=Hey {{ $('Get row(s) in sheet').item.json['First Name'] }}, \n\nYour \"DA Strategy Call\" is confirmed for {{ $('Get row(s) in sheet').item.json['Start Time'].toDateTime().format('dd/MM/yyyy') }} at {{ $('Get row(s) in sheet').item.json['Start Time'].toDateTime().format('hh:mm a') }} via Google Meet. The details have been sent to your email.\n\nChat soon!\nSalman\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1312,
        320
      ],
      "id": "07b0bd57-964c-4708-a380-6c9c06b08eea",
      "name": "Send an SMS/MMS/WhatsApp message1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "from": "YOUR_TWILIO_PHONE_NUMBER",
        "to": "={{\n(() => {\n  const raw = String($('Get row(s) in sheet').item.json['Contact Phone'] || '');\n\n  // Remove everything except digits and +\n  let phone = raw.replace(/[^0-9+]/g, '');\n\n  // Convert leading 00 to +\n  if (phone.startsWith('00')) {\n    phone = '+' + phone.slice(2);\n  }\n\n  // Add + if missing\n  if (!phone.startsWith('+') && phone.length > 0) {\n    phone = '+' + phone;\n  }\n\n  return phone;\n})()\n}}",
        "message": "=Hey {{ $('Get row(s) in sheet').item.json['First Name'] }}, \n\nYour \"DA Strategy Call\" starts in 5 mins.\nJoin here: {{ $('Get row(s) in sheet').item.json['Location'] }}\n\nSpeak soon!\nSalman\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1792,
        1024
      ],
      "id": "8825773f-994d-43e3-aa34-b049aa0941cf",
      "name": "Send an SMS/MMS/WhatsApp message2",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "content": "# 📅 Cal.com Booking Automation Workflow\n\n## Purpose\nAutomated CRM and communication system that captures Cal.com bookings, stores them in Google Sheets, and sends multi-stage SMS follow-ups to attendees.\n\n## Prerequisites\n✓ Cal.com API credentials (configured for event type ID: 2926528)\n✓ Google Sheets API access (CRM spreadsheet: \"The Sales Agent - CRM\")\n✓ Twilio account with SMS capabilities (phone: YOUR_TWILIO_PHONE_NUMBER)\n\n## Execution Triggers\n1. **Real-time**: Automatically fires when a booking is created in Cal.com\n2. **Scheduled**: Runs every 10 minutes to check for upcoming calls and send reminders\n\n## Workflow Overview\n- **Path 1 (Booking Created)**: Cal.com trigger → Validation → Google Sheets → Confirmation SMS → Update tracking\n- **Path 2 (Scheduled Reminders)**: Schedule trigger → Fetch bookings → Time-based conditions → Send reminder SMS → Update tracking\n\n## Expected Outputs\n✓ Contact details added/updated in Google Sheets CRM\n✓ SMS confirmation sent to attendee upon booking\n✓ Follow-up SMS 24 hours before call\n✓ Reminder SMS 5 minutes before call\n✓ Tracking flags (F1-F4) updated in CRM",
        "height": 464.6190000000001,
        "width": 660.862,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        128
      ],
      "id": "21d98275-a2c3-4324-90c6-1109359fdb6a",
      "name": "📋 Main Overview"
    },
    {
      "parameters": {
        "content": "## 🎯 TRIGGER SECTION 1: Real-Time Booking",
        "height": 235,
        "width": 339,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        -80
      ],
      "id": "00e7e16a-e247-4536-951a-308f88486fbd",
      "name": "Trigger Section 1"
    },
    {
      "parameters": {
        "content": "## ⏰ TRIGGER SECTION 2: Scheduled Reminders\n\n",
        "height": 251,
        "width": 307,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        400
      ],
      "id": "5856ac00-f9fb-4f73-a995-d3e41b9e42e6",
      "name": "Trigger Section 2"
    },
    {
      "parameters": {
        "content": "## ✅ VALIDATION FILTER\n\n",
        "height": 231,
        "width": 239
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        -80
      ],
      "id": "32de22a7-cb06-4baa-a001-0021d2daefd4",
      "name": "Validation Filter"
    },
    {
      "parameters": {
        "content": "## 💾 CRM DATA STORAGE\n",
        "height": 266,
        "width": 219
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        -192
      ],
      "id": "29b866f1-8bea-4cfe-87eb-43ef37cdeb2e",
      "name": "CRM Data Storage"
    },
    {
      "parameters": {
        "content": "## 📧 FOLLOW-UP 1: Booking Confirmation\n\n",
        "height": 298,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        -208
      ],
      "id": "79d2c242-9ec6-48a9-b272-7d65371e0aa4",
      "name": "Follow-Up 1 Section"
    },
    {
      "parameters": {
        "content": "## 🔍 SCHEDULED PATH: Data Retrieval\n",
        "height": 302,
        "width": 221
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        368
      ],
      "id": "747e33d3-5cd0-49cd-bc87-9c640888ad46",
      "name": "Scheduled Path Section"
    },
    {
      "parameters": {
        "content": "## 🎯 CONDITIONAL LOGIC CHAIN\n",
        "height": 290,
        "width": 385
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        384
      ],
      "id": "1917c29c-5860-40cb-b59f-bb726a1b23bc",
      "name": "Conditional Logic Chain"
    },
    {
      "parameters": {
        "content": "## 📧 FOLLOW-UP 2: 24-Hour Reminder\n",
        "height": 282,
        "width": 628,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        224
      ],
      "id": "e9c7f4b7-c2fc-43f4-a745-8669f614c3f7",
      "name": "Follow-Up 2 Section"
    },
    {
      "parameters": {
        "content": "## 📧 FOLLOW-UP 3: 5-Minute Alert",
        "height": 282,
        "width": 264,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        544
      ],
      "id": "459a70ec-9bad-4f4e-be78-61c0cf674471",
      "name": "Follow-Up 3 Section"
    },
    {
      "parameters": {
        "content": "## 📧 FOLLOW-UP 4: Call Started Notification\n",
        "height": 298,
        "width": 596
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        896
      ],
      "id": "eb71f488-0c8f-403a-b626-bf06f5fe6061",
      "name": "Follow-Up 4 Section"
    },
    {
      "parameters": {
        "content": "## 🔄 CRM UPDATE TRACKING\n",
        "height": 250,
        "width": 299
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        -176
      ],
      "id": "772e6eaa-85a7-4841-ac39-9c4b8a7cacdc",
      "name": "CRM Update Tracking"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        704
      ],
      "id": "7b75ccbf-5f65-48d6-b093-716f0f7f0ce2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8e748f15-5797-4f33-ae03-eda0ff312241",
              "leftValue": "={{ $('Get row(s) in sheet').item.json['Contact Phone'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        320
      ],
      "id": "1021e086-9e2c-4569-a8b7-8758c3969006",
      "name": "If5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4d3c9ec-213b-4437-ad2d-b05997aa62d3",
              "leftValue": "={{ $('Get row(s) in sheet').item.json['Contact Phone'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        1024
      ],
      "id": "25b7ebdc-32c8-49f7-87ba-9f66b23a24dc",
      "name": "If6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ee86d2ec-2714-4a49-a7cd-36de3ebfdbf0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        224
      ],
      "id": "13f0dad2-f327-4d6b-9d55-b2b4fc6f54f3",
      "name": "Webhook",
      "webhookId": "ee86d2ec-2714-4a49-a7cd-36de3ebfdbf0"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        960
      ],
      "id": "45a78277-de7a-4609-b6f5-a0c5bb4ce81e",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "sendTo": "YOUR_ALERT_EMAIL_1@example.com, YOUR_ALERT_EMAIL_2@example.com",
        "subject": "!! ERROR - Client N8N Workflow Error !!",
        "message": "<h1>Error in \"Cal.com Trigger Workflow\" from Hostinger N8N</h1>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        176,
        960
      ],
      "id": "a11c8162-0235-48d7-a7d9-ff4ee42a9311",
      "name": "Send a message",
      "webhookId": "10cf4bba-f758-4503-a391-77779109a0dc",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "Cal.com Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Call Scheduled Progress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Scheduled Progress": {
      "main": [
        [
          {
            "node": "Follow-Up 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Follow-Up 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-Up 1": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Follow-Up 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Follow-Up  4",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Follow-Up 2": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-Up 3": {
      "main": [
        [
          {
            "node": "Update F3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-Up  4": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message": {
      "main": [
        [
          {
            "node": "Update F1 Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message1": {
      "main": [
        [
          {
            "node": "Update F2 Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message2": {
      "main": [
        [
          {
            "node": "Update F4 ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update F2 Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update F4 ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Etc/GMT",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "binaryMode": "separate"
  }
}
