uuid-generator-utility/uuid-generator.json
{
  "createdAt": "2025-08-15T12:07:00.819Z",
  "updatedAt": "2025-09-12T16:04:05.000Z",
  "id": "pva9Jht9MWjqayUU",
  "name": "UUID Generator",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d16dc3fa-67f3-4195-a985-ec4fb89491ac",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "68be8272-21c0-4d83-b27b-e701df380400",
      "name": "Webhook",
      "webhookId": "d16dc3fa-67f3-4195-a985-ec4fb89491ac"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-guuid-generator.UUID Generator",
      "typeVersion": 1,
      "position": [
        224,
        96
      ],
      "id": "a425ac44-9f13-42dd-ac25-d3d8b2e59aa0",
      "name": "UUID Generator"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"uuid\": \"{{ $('UUID Generator').item.json.uuid }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        448,
        96
      ],
      "id": "6fb7e434-1857-447f-95f6-982f81a47e5e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "f3391a4a-9f1b-41ce-be85-5ba7d37a02be",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "UUID Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID Generator": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "UUID Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4bf39f95-2f0b-4253-8341-aacaf344e4eb",
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-08-30T07:55:44.547Z",
      "updatedAt": "2025-08-30T07:55:44.547Z",
      "role": "workflow:owner",
      "workflowId": "pva9Jht9MWjqayUU",
      "projectId": "1E6nRnGi8VBThoy6",
      "project": {
        "createdAt": "2025-08-30T07:23:19.064Z",
        "updatedAt": "2025-08-30T07:24:28.959Z",
        "id": "1E6nRnGi8VBThoy6",
        "name": "YOUR_N8N_ACCOUNT_NAME",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}