social-media-poster/workflow.json
{
  "createdAt": "2025-06-17T04:45:27.544Z",
  "updatedAt": "2025-08-30T08:53:02.000Z",
  "id": "RQm5dZPcreJ3OmeL",
  "name": "Main - Social Media Poster",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "7985ac5c-5fde-46f5-840a-0be262520da7",
      "name": "When chat message received",
      "webhookId": "609583e6-59a4-42ca-8d45-da94b6cc7c04"
    },
    {
      "parameters": {
        "content": "## Start Here\n",
        "height": 240,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -60
      ],
      "id": "86eea26e-8698-4682-8de4-de4d7b38ebb7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistant that uses the provided tools.  Respond with a valid JSON object.\n\nUser prompt:  {{ $json.chatInput }}",
        "options": {
          "systemMessage": "## RULES\n- You do not answer the users questions directly and your sole purpose is to call the appropriate tool to and provide the verbatim response.\n\n## TOOLS\n- create_x_twitter_posts_tool: Use this tool to create X-Twitter posts\n- create_instagram_posts_tool: Use this tool to create Instagram posts\n- create_facebook_posts_tool: Use this tool to create Facebook posts\n- create_linkedin_posts_tool: Use this tool to create LinkedIn posts\n\n\n"
        }
      },
      "id": "9c08b9d5-ff8b-4be4-953d-9273aabe4060",
      "name": "🤖Social Media Router Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        440,
        0
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "content": "# Social Media Router Agent",
        "height": 320,
        "width": 620
      },
      "id": "892895a5-7103-4d7b-8f19-5e828f6ca1ee",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        280,
        -100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## LLM",
        "height": 240,
        "color": 7
      },
      "id": "5e663793-5aef-4a00-b2dd-08118f9e2084",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Chat Memory",
        "height": 240,
        "color": 7
      },
      "id": "3963dca6-d0a6-4f7a-ab0b-b2d7ca31137d",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Social Media Agent Tools",
        "height": 620,
        "width": 1100,
        "color": 7
      },
      "id": "1293b7c1-a8eb-43dd-a7cf-cf57b8ae3916",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        440
      ],
      "id": "c05791b6-2d84-4ffd-8979-5b07153974a7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IGU8ZJ5AgJbZKyHg",
          "name": "grmculmfuer9"
        }
      }
    },
    {
      "parameters": {},
      "id": "79347be6-ca28-4571-a0a0-61553f559b16",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        80,
        680
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## 1️⃣ X - Twitter",
        "height": 240,
        "color": 6
      },
      "id": "ec27ec47-2f7f-434c-b861-5b599011257d",
      "name": "Sticky Note33",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        300,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "create_x_twitter_posts_tool",
        "description": "Use this tool to create XTwitter posts",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "fields": {
          "values": [
            {
              "name": "route",
              "stringValue": "=xtwitter"
            },
            {
              "name": "user_prompt",
              "stringValue": "={{ $('When chat message received').item.json.chatInput }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "20cbdb19-6780-43ba-a9a0-df5308d03df5",
      "name": "X-Twiter",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        380,
        520
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## 2️⃣ Instagram",
        "height": 240,
        "color": 6
      },
      "id": "bf0fc1ed-fb3c-4fe4-83bb-71fa1da0ad9b",
      "name": "Sticky Note34",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "create_instagram_posts_tool",
        "description": "Use this tool to create Instagram posts",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "fields": {
          "values": [
            {
              "name": "route",
              "stringValue": "=instagram"
            },
            {
              "name": "user_prompt",
              "stringValue": "={{ $('When chat message received').item.json.chatInput }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "8e366e34-c7a5-49e6-bafc-edede03bf1f5",
      "name": "Instagram",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        640,
        520
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## 3️⃣ Facebook",
        "height": 240,
        "color": 6
      },
      "id": "605ebe85-bb65-45a1-995a-247a2ece03fd",
      "name": "Sticky Note35",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4️⃣ LinkedIn",
        "height": 240,
        "color": 6
      },
      "id": "28d121cc-640d-447e-8fed-a9cbe5d7b26c",
      "name": "Sticky Note36",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1080,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "create_facebook_posts_tool",
        "description": "Use this tool to create Facebook posts",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "fields": {
          "values": [
            {
              "name": "route",
              "stringValue": "=facebook"
            },
            {
              "name": "user_prompt",
              "stringValue": "={{ $('When chat message received').item.json.chatInput }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "99a4a0a3-a93a-43f2-a147-b4bd52a4c63f",
      "name": "Facebook",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        900,
        520
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "create_linkedin_posts_tool",
        "description": "Use this tool to create LinkedIn posts",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "fields": {
          "values": [
            {
              "name": "route",
              "stringValue": "=linkedin"
            },
            {
              "name": "user_prompt",
              "stringValue": "={{ $('When chat message received').item.json.chatInput }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "0066e572-da0b-4c45-8e68-772d99c7fe10",
      "name": "LinkedIn",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1160,
        520
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## 5️⃣Threads",
        "height": 240,
        "color": 6
      },
      "id": "8ae03dc7-d240-4eec-9424-3246955b81dd",
      "name": "Sticky Note37",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 6️⃣YouTube Shorts",
        "height": 240,
        "color": 6
      },
      "id": "9c7f2c0c-e5ff-47ed-8a61-0fab71e838b6",
      "name": "Sticky Note38",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "create_threads_posts_tool",
        "description": "Use this tool to create Threads posts",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "fields": {
          "values": [
            {
              "name": "route",
              "stringValue": "=threads"
            },
            {
              "name": "user_prompt",
              "stringValue": "={{ $('When chat message received').item.json.chatInput }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "bcf4761f-9601-48a4-a030-94fc949c0989",
      "name": "Short",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        640,
        780
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "create_youtube_short_tool",
        "description": "Use this tool to create a YouTube short",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "fields": {
          "values": [
            {
              "name": "route",
              "stringValue": "=youtube_short"
            },
            {
              "name": "user_prompt",
              "stringValue": "={{ $('When chat message received').item.json.chatInput }}"
            },
            {
              "name": "llm",
              "stringValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "2ae70579-8ad4-400b-b61a-af6d2da9dbcb",
      "name": "YouTube Short",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        900,
        780
      ],
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "X-Twiter": {
      "ai_tool": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "ai_tool": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Facebook": {
      "ai_tool": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn": {
      "ai_tool": [
        [
          {
            "node": "🤖Social Media Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "95d815ce-1814-4677-ac7d-1d96655704f0",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-08-30T07:55:43.199Z",
      "updatedAt": "2025-08-30T07:55:43.199Z",
      "role": "workflow:owner",
      "workflowId": "RQm5dZPcreJ3OmeL",
      "projectId": "1E6nRnGi8VBThoy6",
      "project": {
        "createdAt": "2025-08-30T07:23:19.064Z",
        "updatedAt": "2025-08-30T07:24:28.959Z",
        "id": "1E6nRnGi8VBThoy6",
        "name": "Portfolio Owner <owner@example.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}
