social-media-trend-monitor/workflow.json
{
  "createdAt": "2025-08-12T09:03:20.994Z",
  "updatedAt": "2025-08-30T08:01:48.000Z",
  "id": "RJQntBnrCxPTQBVq",
  "name": "Monitor Content Trends Across Social Media with AI, Slack, and Google Sheets",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "f6076d32-214a-4a7d-af93-de13e04d2f9b",
      "name": "Daily Trend Monitor Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2100,
        460
      ],
      "typeVersion": 1.2,
      "notes": "Triggers daily at 8 AM to capture fresh trends"
    },
    {
      "parameters": {
        "jsCode": "// Content Strategy Configuration & Trend Monitoring Setup\n// Created: 25/7/2025\n\nconst contentConfig = {\n  industries: [\n    'artificial intelligence',\n    'digital marketing',\n    'technology trends',\n    'social media marketing',\n    'content marketing',\n    'SEO and search marketing',\n    'e-commerce trends',\n    'startup ecosystem',\n    'remote work trends',\n    'cybersecurity'\n  ],\n  contentTypes: [\n    'blog posts',\n    'social media content',\n    'video scripts',\n    'infographics',\n    'podcasts',\n    'webinars',\n    'case studies',\n    'whitepapers',\n    'newsletters',\n    'tutorials'\n  ],\n  platforms: {\n    'LinkedIn': 'professional audience, B2B content',\n    'Twitter': 'real-time updates, industry news',\n    'Instagram': 'visual content, behind-the-scenes',\n    'YouTube': 'educational content, tutorials',\n    'TikTok': 'trending topics, quick tips',\n    'Facebook': 'community engagement, discussions',\n    'Pinterest': 'visual inspiration, how-to guides',\n    'Reddit': 'community discussions, AMAs'\n  },\n  contentCalendar: {\n    posting_frequency: {\n      'blog': '3 times per week',\n      'social': 'daily',\n      'video': 'twice per week',\n      'newsletter': 'weekly'\n    },\n    content_pillars: [\n      'Industry Insights & Trends',\n      'Educational & How-To Content',\n      'Company News & Updates',\n      'User-Generated Content',\n      'Behind-the-Scenes',\n      'Thought Leadership'\n    ],\n    seasonal_events: [\n      'Q4 2025 Planning',\n      'Back-to-School Season',\n      'Holiday Marketing',\n      'New Year Resolutions',\n      'Industry Conference Season'\n    ]\n  },\n  trendAnalysis: {\n    timeframes: ['24h', '7d', '30d'],\n    engagement_thresholds: {\n      'viral': 100000,\n      'trending': 10000,\n      'emerging': 1000\n    },\n    sentiment_analysis: true,\n    competitor_monitoring: true,\n    influencer_tracking: true\n  }\n};\n\nconst today = new Date('2025-07-25');\nconst trendQueries = [];\n\nObject.keys(contentConfig.platforms).forEach(platform => {\n  contentConfig.industries.forEach(industry => {\n    trendQueries.push({\n      platform: platform,\n      industry: industry,\n      query: `${industry} trends ${platform.toLowerCase()} 2025`,\n      search_url: generateSearchURL(platform, industry),\n      content_focus: contentConfig.platforms[platform]\n    });\n  });\n});\n\nconst keywordQueries = contentConfig.industries.map(industry => ({\n  industry: industry,\n  query: `${industry} keywords trending july 2025`,\n  search_url: `https://trends.google.com/trends/explore?q=${encodeURIComponent(industry)}&date=now%207-d`,\n  analysis_type: 'keyword_volume'\n}));\n\nconst competitorQueries = [\n  'top content marketing campaigns 2025',\n  'viral marketing strategies july 2025',\n  'best performing content types 2025',\n  'social media engagement trends 2025'\n].map(query => ({\n  query: query,\n  search_url: `https://www.buzzsumo.com/search?q=${encodeURIComponent(query)}`,\n  analysis_type: 'competitor_content'\n}));\n\nfunction generateSearchURL(platform, industry) {\n  const baseUrls = {\n    'LinkedIn': `https://www.linkedin.com/search/results/content/?keywords=${encodeURIComponent(industry + ' trends')}`,\n    'Twitter': `https://twitter.com/search?q=${encodeURIComponent(industry + ' trends')}&src=trend_click`,\n    'Instagram': `https://www.instagram.com/explore/tags/${encodeURIComponent(industry.replace(/\\s+/g, ''))}/`,\n    'YouTube': `https://www.youtube.com/results?search_query=${encodeURIComponent(industry + ' trends 2025')}`,\n    'TikTok': `https://www.tiktok.com/search?q=${encodeURIComponent(industry)}`,\n    'Reddit': `https://www.reddit.com/search/?q=${encodeURIComponent(industry + ' trends')}&type=link&sort=hot`\n  };\n  return baseUrls[platform] || `https://www.google.com/search?q=${encodeURIComponent(industry + ' ' + platform + ' trends')}`;\n}\n\nconst sessionId = `trend_monitoring_${Date.now()}`;\nconst timestamp = today.toISOString();\n\nreturn [{\n  json: {\n    sessionId: sessionId,\n    timestamp: timestamp,\n    date: '2025-07-25',\n    config: contentConfig,\n    trendQueries: trendQueries,\n    keywordQueries: keywordQueries,\n    competitorQueries: competitorQueries,\n    totalQueries: trendQueries.length + keywordQueries.length + competitorQueries.length,\n    analysisMode: 'comprehensive'\n  }\n}];"
      },
      "id": "b5f076eb-7886-43dd-af83-82c236d15393",
      "name": "Trend Configuration Processor",
      "type": "n8n-nodes-base.code",
      "position": [
        -1800,
        500
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a2448375-d524-4901-b36a-6b5323d2b39b",
      "name": "Split Trend Queries",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -1500,
        500
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst configData = items[0].json;\nconst batchData = $('Split Trend Queries').item.json;\n\nconst allQueries = [\n  ...configData.trendQueries,\n  ...configData.keywordQueries,\n  ...configData.competitorQueries\n];\n\nconst currentQuery = allQueries[batchData.index];\n\nreturn [{\n  json: {\n    ...configData,\n    currentQuery: currentQuery,\n    batchIndex: batchData.index,\n    totalBatches: allQueries.length,\n    queryType: currentQuery.analysis_type || 'trend_analysis'\n  }\n}];"
      },
      "id": "6facdc72-23f8-4f3d-aa8f-10dbe1f22ea7",
      "name": "Query Processor",
      "type": "n8n-nodes-base.code",
      "position": [
        -1200,
        460
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "684f9475-514a-4bbc-ab1f-8fbcf8ee8369",
      "name": "AI Social Trend Scraper",
      "type": "n8n-nodes-scrapegraphai.scrapegraphAi",
      "position": [
        -900,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "8baa48ae-37cf-4e81-be24-5f220d292593",
      "name": "AI Google Trends Scraper",
      "type": "n8n-nodes-scrapegraphai.scrapegraphAi",
      "position": [
        -900,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "9185808a-c541-4e3f-9bd6-01c3ee5cdd0d",
      "name": "AI Viral Content Analyzer",
      "type": "n8n-nodes-scrapegraphai.scrapegraphAi",
      "position": [
        -900,
        680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5deefe48-223c-4f54-836b-cd931e444c16",
      "name": "AI Reddit Insights Scraper",
      "type": "n8n-nodes-scrapegraphai.scrapegraphAi",
      "position": [
        -900,
        860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "4d248b96-c078-451a-8dcb-358e24c9fb98",
      "name": "Merge Trend Data",
      "type": "n8n-nodes-base.merge",
      "position": [
        -600,
        560
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsCode": "const allData = $input.all();\nconst configData = allData[0].json;\nconst socialData = allData[1]?.json?.result || {};\nconst trendsData = allData[2]?.json?.result || {};\nconst viralData = allData[3]?.json?.result || {};\nconst redditData = allData[4]?.json?.result || {};\n\nconst trendAnalyzer = {\n  calculateTrendMomentum(engagementScore, growthRate, timeframe) {\n    const engagement = parseInt(engagementScore) || 0;\n    const growth = parseFloat(growthRate?.replace(/[^0-9.-]/g, '')) || 0;\n    const timeMultiplier = timeframe === '24h' ? 3 : timeframe === '7d' ? 2 : 1;\n    return Math.min(100, (engagement / 1000 + growth + timeMultiplier * 10));\n  },\n  \n  identifyContentGaps(socialTrends, searchTrends, discussions) {\n    const gaps = [];\n    const trendingTopics = [...(socialTrends.trending_topics || []), ...(searchTrends.trending_searches || [])];\n    const existingContent = viralData.viral_content || [];\n    \n    trendingTopics.forEach(trend => {\n      const hasContent = existingContent.some(content => \n        content.title?.toLowerCase().includes(trend.topic?.toLowerCase() || trend.keyword?.toLowerCase())\n      );\n      \n      if (!hasContent && trend.engagement_score > 10000) {\n        gaps.push({\n          opportunity_type: 'trending_gap',\n          topic: trend.topic || trend.keyword,\n          potential_reach: trend.engagement_score || trend.search_volume,\n          urgency_score: this.calculateUrgencyScore(trend),\n          content_suggestion: this.generateContentSuggestion(trend),\n          target_platforms: this.recommendPlatforms(trend)\n        });\n      }\n    });\n    return gaps;\n  },\n  \n  calculateUrgencyScore(trend) {\n    let score = 0;\n    if (trend.trend_velocity === 'rising' || trend.growth === 'breakout') score += 40;\n    if (trend.engagement_score > 50000) score += 30;\n    if (trend.sentiment === 'positive') score += 20;\n    if (trend.seasonality && trend.seasonality.includes('peak')) score += 10;\n    return Math.min(100, score);\n  },\n  \n  generateContentSuggestion(trend) {\n    const topic = trend.topic || trend.keyword;\n    const suggestions = [];\n    \n    if (trend.content_type === 'video' || trend.platform === 'YouTube') {\n      suggestions.push(`Video tutorial: \"Ultimate Guide to ${topic} in 2025\"`);\n      suggestions.push(`Short-form video: \"5 ${topic} Tips That Will Blow Your Mind\"`);\n    }\n    \n    if (trend.platform === 'LinkedIn' || trend.demographics?.includes('professional')) {\n      suggestions.push(`LinkedIn article: \"How ${topic} is Transforming Business in 2025\"`);\n      suggestions.push(`Industry insight post: \"${topic} Trends Every Professional Should Know\"`);\n    }\n    \n    if (trend.hashtags?.length > 0) {\n      suggestions.push(`Social media series using ${trend.hashtags.join(', ')}`);\n    }\n    \n    if (trend.related_queries) {\n      trend.related_queries.forEach(query => {\n        suggestions.push(`Blog post: \"${query}\" - Complete Answer Guide`);\n      });\n    }\n    \n    return suggestions.slice(0, 3);\n  },\n  \n  recommendPlatforms(trend) {\n    const platforms = [];\n    \n    if (trend.demographics?.includes('professional') || trend.platform === 'LinkedIn') {\n      platforms.push('LinkedIn');\n    }\n    \n    if (trend.content_type === 'video' || trend.platform === 'YouTube') {\n      platforms.push('YouTube', 'TikTok');\n    }\n    \n    if (trend.trend_velocity === 'rising') {\n      platforms.push('Twitter', 'Instagram Stories');\n    }\n    \n    if (trend.engagement_score > 100000) {\n      platforms.push('Facebook', 'Instagram');\n    }\n    \n    return [...new Set(platforms)];\n  }\n};\n\nconst trendAnalysis = {\n  session_id: configData.sessionId,\n  analysis_date: configData.date,\n  timestamp: new Date().toISOString(),\n  \n  trending_topics: [\n    ...(socialData.trending_topics || []),\n    ...(trendsData.trending_searches || []).map(item => ({\n      topic: item.keyword,\n      engagement_score: parseInt(item.search_volume?.replace(/[^0-9]/g, '')) || 0,\n      trend_velocity: item.growth === 'breakout' ? 'rising' : 'steady',\n      source: 'Google Trends'\n    }))\n  ],\n  \n  viral_patterns: {\n    top_performing_content: viralData.viral_content || [],\n    successful_patterns: viralData.content_patterns || [],\n    optimal_timing: viralData.optimal_posting_times || {},\n    hashtag_performance: viralData.hashtag_performance || []\n  },\n  \n  community_insights: {\n    reddit_discussions: redditData.hot_discussions || [],\n    pain_points: redditData.community_insights?.content_gaps || [],\n    user_questions: redditData.hot_discussions?.flatMap(d => d.emerging_questions || []) || []\n  },\n  \n  content_opportunities: [],\n  content_gaps: [],\n  recommended_actions: []\n};\n\ntrendAnalysis.content_opportunities = [\n  ...(socialData.content_opportunities || []),\n  ...(trendsData.content_suggestions || []),\n  ...(redditData.content_opportunities || [])\n];\n\ntrendAnalysis.content_gaps = trendAnalyzer.identifyContentGaps(\n  socialData,\n  trendsData,\n  redditData.hot_discussions || []\n);\n\ntrendAnalysis.recommended_actions = [\n  {\n    priority: 'high',\n    action: 'Create content for trending gaps',\n    details: trendAnalysis.content_gaps.filter(gap => gap.urgency_score > 70),\n    timeline: 'within 24 hours'\n  },\n  {\n    priority: 'medium',\n    action: 'Optimize posting schedule',\n    details: trendAnalysis.viral_patterns.optimal_timing,\n    timeline: 'next week'\n  },\n  {\n    priority: 'low',\n    action: 'Monitor emerging trends',\n    details: trendAnalysis.trending_topics.filter(topic => topic.trend_velocity === 'rising'),\n    timeline: 'ongoing'\n  }\n];\n\nconst avgEngagement = trendAnalysis.trending_topics.reduce((sum, topic) => \n  sum + (topic.engagement_score || 0), 0) / trendAnalysis.trending_topics.length;\n\ntrendAnalysis.trend_health_score = Math.min(100, avgEngagement / 1000);\ntrendAnalysis.total_opportunities = trendAnalysis.content_opportunities.length + trendAnalysis.content_gaps.length;\n\nreturn [{ json: trendAnalysis }];"
      },
      "id": "01ca58f6-485c-4d77-b69d-9d65c199314a",
      "name": "Trend Analysis Processor",
      "type": "n8n-nodes-base.code",
      "position": [
        -300,
        560
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "1your-content-calendar-sheet-id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Content_Calendar_2025"
        },
        "columns": {
          "value": {
            "Date": "={{ new Date().toISOString().split('T')[0] }}",
            "Status": "Planned",
            "Platform": "={{ $json.content_calendar?.[0]?.platform || 'Multi-Platform' }}",
            "Priority": "={{ $json.content_ideas?.high_priority?.[0]?.priority || 'Medium' }}",
            "Created_By": "AI Trend Monitor",
            "Session_ID": "={{ $('Trend Analysis Processor').item.json.session_id }}",
            "Trend_Score": "={{ $('Trend Analysis Processor').item.json.trend_health_score }}",
            "Content_Type": "={{ $json.content_calendar?.[0]?.format || 'Blog Post' }}",
            "Posting_Time": "={{ $json.engagement_optimization?.optimal_posting_times?.LinkedIn || '9:00 AM' }}",
            "Content_Title": "={{ $json.content_calendar?.[0]?.title || 'AI-Generated Content Idea' }}",
            "Target_Hashtags": "={{ $json.engagement_optimization?.best_hashtags?.slice(0, 5).join(', ') || '#ContentMarketing' }}",
            "Content_Description": "={{ $json.content_ideas?.high_priority?.[0]?.description || 'Trending topic content' }}",
            "Expected_Engagement": "={{ $json.content_calendar?.[0]?.expected_engagement || 'Medium' }}"
          },
          "mappingMode": "defineBelow"
        },
        "options": {}
      },
      "id": "a92066e0-8159-4507-954a-0c3d8df624f5",
      "name": "Content Calendar Updater",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        300,
        340
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "channel": "content-team",
        "text": "=🚀 **Daily Trend Report - {{ $('Trend Analysis Processor').item.json.analysis_date }}**\n\n📊 **Trend Health Score**: {{ $('Trend Analysis Processor').item.json.trend_health_score }}/100\n🎯 **Content Opportunities**: {{ $('Trend Analysis Processor').item.json.total_opportunities }}\n⚡ **High-Priority Trends**: {{ $('Trend Analysis Processor').item.json.trending_topics.filter(t => t.engagement_score > 50000).length }}\n\n🔥 **Top Trending Topic**: {{ $('Trend Analysis Processor').item.json.trending_topics[0]?.topic || 'No major trends' }}\n📈 **Engagement Score**: {{ $('Trend Analysis Processor').item.json.trending_topics[0]?.engagement_score || 0 }}\n\n💡 **Immediate Actions Needed**:\n{{ $('Trend Analysis Processor').item.json.recommended_actions.filter(a => a.priority === 'high').map(a => `• ${a.action} (${a.timeline})`).join('\\n') || '• No urgent actions required' }}\n\n📅 **Content Calendar Updated**: {{ $('Trend Analysis Processor').item.json.total_opportunities }} new ideas added\n🔗 **View Full Report**: [Content Calendar](https://docs.google.com/spreadsheets/your-sheet-id)",
        "otherOptions": {
          "icon_emoji": ":chart_with_upwards_trend:"
        },
        "attachments": []
      },
      "id": "8af36601-90f6-422b-a524-a0fe67242a6e",
      "name": "Team Notification Sender",
      "type": "n8n-nodes-base.slack",
      "position": [
        300,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 1: Daily Trigger ⏰\n\nThis trigger runs daily at 8 AM to capture fresh trends.\n\n## What it does\n- Automatically starts trend monitoring workflow\n- Ensures consistent daily analysis\n- Captures trending topics at peak hours\n\n## Configuration\n- Set custom time intervals\n- Choose different trigger types\n- Configure timezone settings",
        "height": 722,
        "width": 495,
        "color": 5
      },
      "id": "f3829ff4-2868-434e-9ab9-67b088804b33",
      "name": "Sticky Note - Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2340,
        40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 2: Configuration Setup ⚙️\n\nThis node sets up comprehensive trend monitoring configuration.\n\n## What it does\n- Defines target industries and platforms\n- Sets content strategy parameters\n- Creates search queries for each platform\n- Establishes engagement thresholds\n\n## Key Features\n- Multi-platform trend tracking\n- Content calendar integration\n- Competitor monitoring setup\n- Seasonal event planning",
        "height": 738,
        "width": 511,
        "color": 5
      },
      "id": "e873d348-3bf5-4d8b-aad6-9185158bf852",
      "name": "Sticky Note - Config",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1820,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 3: Data Collection 🤖\n\nMultiple AI scrapers collect trend data from various sources.\n\n## Scrapers Include\n- **Social Trend Scraper**: LinkedIn, Twitter, Instagram trends\n- **Google Trends Scraper**: Search volume and keyword data\n- **Viral Content Analyzer**: BuzzSumo viral content patterns\n- **Reddit Insights**: Community discussions and pain points\n\n## What Each Extracts\n- Trending topics and hashtags\n- Engagement metrics and viral patterns\n- Geographic and demographic insights\n- Content opportunities and gaps",
        "height": 1010,
        "width": 575,
        "color": 5
      },
      "id": "c432b09f-5d18-4d64-95bd-19ddafdc3fa5",
      "name": "Sticky Note - Scrapers",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 4: Trend Analysis 📊\n\nThis processor analyzes all collected data and identifies opportunities.\n\n## Analysis Features\n- Calculates trend momentum scores\n- Identifies content gaps in the market\n- Generates content suggestions\n- Recommends optimal platforms\n- Prioritizes opportunities by urgency\n\n## Output Includes\n- Trending topics with engagement scores\n- Viral content patterns and timing\n- Community insights and pain points\n- Strategic content recommendations",
        "height": 1010,
        "width": 575,
        "color": 5
      },
      "id": "bf9eebad-f512-47c9-819a-5bebe5ad4cc0",
      "name": "Sticky Note - Analysis",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -660,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 5: Data Storage & Reporting 📈\n\nMultiple outputs store and distribute the analysis results.\n\n## Storage Options\n- **Google Sheets**: Content calendar and analytics\n- **Slack**: Team notifications with key metrics\n- **Email**: Detailed reports to stakeholders\n\n## What Gets Stored\n- Daily trend health scores\n- Content opportunities and gaps\n- Viral patterns and engagement data\n- Recommended actions and timelines\n- Session tracking and analytics",
        "height": 1026,
        "width": 575,
        "color": 5
      },
      "id": "17701277-e2e2-49b1-aa1a-835873b437de",
      "name": "Sticky Note - Outputs",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Merge Trend Data": {
      "main": [
        [
          {
            "node": "Trend Analysis Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Trend Queries": {
      "main": [
        [
          {
            "node": "Query Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trend Analysis Processor": {
      "main": [
        [
          {
            "node": "Content Calendar Updater",
            "type": "main",
            "index": 0
          },
          {
            "node": "Team Notification Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trend Monitor Trigger": {
      "main": [
        [
          {
            "node": "Trend Configuration Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trend Configuration Processor": {
      "main": [
        [
          {
            "node": "Split Trend Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "feca05d2-44bc-4aa0-9626-f1d3b89d8b26",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-08-30T07:55:44.431Z",
      "updatedAt": "2025-08-30T07:55:44.431Z",
      "role": "workflow:owner",
      "workflowId": "RJQntBnrCxPTQBVq",
      "projectId": "1E6nRnGi8VBThoy6",
      "project": {
        "createdAt": "2025-08-30T07:23:19.064Z",
        "updatedAt": "2025-08-30T07:24:28.959Z",
        "id": "1E6nRnGi8VBThoy6",
        "name": "YOUR_N8N_PROJECT_NAME",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}