cold-email-outreach-sequence-system/NEW___Second_Follow_Up.json
{
  "name": "NEW - Second Follow Up",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/home/node/Downloads/IMP/Ultimate AI Research.pdf",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2200,
        240
      ],
      "id": "fcdff2e8-a1c2-4e2e-b57a-9a56f51bd0bf",
      "name": "read_ai_research",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Zp6q1vrAcCegp6-LU-JrGlh8c_T0e_T1Z3-BjdnG_bw",
          "mode": "list",
          "cachedResultName": "Ultimate Real Estate Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zp6q1vrAcCegp6-LU-JrGlh8c_T0e_T1Z3-BjdnG_bw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Real Estate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zp6q1vrAcCegp6-LU-JrGlh8c_T0e_T1Z3-BjdnG_bw/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "=1:{{ $('start_new_second_follow_up').item.json.start }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1600,
        240
      ],
      "id": "5459bfc4-2abf-40d6-bfac-f093581005b8",
      "name": "leads_data",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XdUlWBkbzjr8laJL",
          "name": "salmanadnan0206"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "41acfcf8-10aa-4288-abd5-72c9349d3e0a",
              "leftValue": "={{ $('leads_data').item.json.row_number }}",
              "rightValue": "={{ $('start_new_second_follow_up').item.json.filter }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1380,
        240
      ],
      "id": "abd9ccba-3a7b-46bd-91f7-c0d797061d49",
      "name": "filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "072f6df3-874c-4a18-8f91-bcee02ceac37",
              "name": "name",
              "value": "={{ $('leads_data').item.json.name }}",
              "type": "string"
            },
            {
              "id": "fab19b52-cbf1-468f-b69c-a0707d0b42ff",
              "name": "company_name",
              "value": "={{ $('leads_data').item.json.company_name }}",
              "type": "string"
            },
            {
              "id": "55b9c802-9038-41a0-ae00-33b31b2d26ff",
              "name": "headline",
              "value": "={{ $('leads_data').item.json.headline }}",
              "type": "string"
            },
            {
              "id": "d5d1098b-3f4c-4cf3-bb2b-c4a9c00b5784",
              "name": "title",
              "value": "={{ $('leads_data').item.json.title }}",
              "type": "string"
            },
            {
              "id": "695abffd-ef86-4282-804a-9698ad0748b5",
              "name": "general_search",
              "value": "={{ $('leads_data').item.json.general_search }}",
              "type": "string"
            },
            {
              "id": "68543b39-6fa9-45c8-aeaa-83678a0c7c86",
              "name": "news_search",
              "value": "={{ $('leads_data').item.json.news_search }}",
              "type": "string"
            },
            {
              "id": "d1dc58e2-ee5d-4468-9c96-db37a6d23779",
              "name": "person_linkedin_scrape",
              "value": "={{ $('leads_data').item.json.person_linkedin_scrape }}",
              "type": "string"
            },
            {
              "id": "b7dce3f3-ea90-420e-9742-1ec681fcb336",
              "name": "company_linkedin_scrape",
              "value": "={{ $('leads_data').item.json.company_linkedin_scrape }}",
              "type": "string"
            },
            {
              "id": "cb221bbd-6c09-42c9-9ec9-c07d1dd93b53",
              "name": "first_email",
              "value": "={{ $('leads_data').item.json.first_email }}",
              "type": "string"
            },
            {
              "id": "1e0a28f1-ba30-4031-8e3f-acbff021456a",
              "name": "first_follow_up",
              "value": "={{ $('leads_data').item.json.first_follow_up }}",
              "type": "string"
            },
            {
              "id": "f87c6d42-127d-4d1b-9bf9-a2dac3af9920",
              "name": "second_follow_up",
              "value": "={{ $('leads_data').item.json.second_follow_up }}",
              "type": "string"
            },
            {
              "id": "9698f51c-ae9a-47f3-b27b-e4f4a1f8829a",
              "name": "third_follow_up",
              "value": "={{ $('leads_data').item.json.third_follow_up }}",
              "type": "string"
            },
            {
              "id": "7fb12635-c188-42bc-8734-c673a136b779",
              "name": "fourth_follow_up",
              "value": "={{ $('leads_data').item.json.fourth_follow_up }}",
              "type": "string"
            },
            {
              "id": "f0a93035-8bf5-4e12-b145-f86f80458e1b",
              "name": "fifth_follow_up",
              "value": "={{ $('leads_data').item.json.fifth_follow_up }}",
              "type": "string"
            },
            {
              "id": "9694627a-261e-477a-8adf-fd6fd3982626",
              "name": "row_number",
              "value": "={{ $('leads_data').item.json.row_number }}",
              "type": "string"
            },
            {
              "id": "68f287cd-c2cc-4e0e-b3df-58c33fc7d9ec",
              "name": "type",
              "value": "={{ $('leads_data').item.json.type }}",
              "type": "string"
            },
            {
              "id": "4e7f14c2-a01c-40d8-afa6-a0814a81dfaf",
              "name": "day",
              "value": "={{ $('Date & Time').item.json.day }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1180,
        240
      ],
      "id": "aba121a4-a9b5-4344-b478-e11796c10304",
      "name": "essential"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5f20b17-0c59-4d3b-ba29-98a9790997eb",
              "leftValue": "={{ $('essential').item.json.second_follow_up }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1000,
        240
      ],
      "id": "b16bea53-b87c-4a02-ae98-0a55f04b6da4",
      "name": "if_second_follow_up"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2020,
        240
      ],
      "id": "e3304302-a6f2-45a6-8fe6-3b53a70e948c",
      "name": "extract_txt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37d7dfa6-05f4-418f-83ec-a711c9a62f2e",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        940,
        100
      ],
      "id": "1c9a63a1-d470-4c1d-8078-40348adc8a3a",
      "name": "is_output"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        40,
        -120
      ],
      "id": "ec7bcd40-7e36-41f2-84a4-a3f417c22742",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "s33kmIC3i4BXjRqK",
          "name": "haseebadnan2257"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function formatText(input) {\n  const formatted = input\n    .replace(/\\*\\*\\*(.*?)\\*\\*\\*/g, '$1')\n    .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n    .replace(/\\*(.*?)\\*/g, '$1')\n    .replace(/\\n/g, '<br>')\n    .replace(/\"/g, '&quot;');\n\n  // Convert to JSON string\n  let jsonString = JSON.stringify(formatted);\n  // Remove surrounding quotes only if they exist\n  if (jsonString.startsWith('\"') && jsonString.endsWith('\"')) {\n    jsonString = jsonString.slice(1, -1);\n  }\n  return jsonString;\n}\n\n// const email3 = $(\"generate_second_follow_up_v1\").item.json.output;\n\n// const text3 = email3\n//   .replace(/\\*\\*\\*(.*?)\\*\\*\\*/g, '$1')\n//   .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n//   .replace(/\\*(.*?)\\*/g, '$1')\n//   .replace(/\\n/g, '<br>')\n//   .replace(/\"/g, '&quot;');\n\nlet second_follow_up = formatText($(\"generate_second_follow_up_v1\").item.json.output);\n\nreturn {\n  json: {\n    second_follow_up\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        0
      ],
      "id": "1cada2d6-5d3f-469e-b21c-1f0dd68537f8",
      "name": "clean_second_folllow_up",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Zp6q1vrAcCegp6-LU-JrGlh8c_T0e_T1Z3-BjdnG_bw",
          "mode": "list",
          "cachedResultName": "Ultimate Real Estate Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zp6q1vrAcCegp6-LU-JrGlh8c_T0e_T1Z3-BjdnG_bw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Real Estate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zp6q1vrAcCegp6-LU-JrGlh8c_T0e_T1Z3-BjdnG_bw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Final').item.json.row_number }}",
            "second_follow_up": "={{ $('Final').item.json.output }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_website_url",
              "displayName": "company_website_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_fb",
              "displayName": "company_fb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_linkedin",
              "displayName": "company_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_twitter",
              "displayName": "company_twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_phone_no",
              "displayName": "company_phone_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_primary_phone_no",
              "displayName": "company_primary_phone_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_city",
              "displayName": "company_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_country",
              "displayName": "company_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "general_search",
              "displayName": "general_search",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "news_search",
              "displayName": "news_search",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "person_linkedin_scrape",
              "displayName": "person_linkedin_scrape",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_linkedin_scrape",
              "displayName": "company_linkedin_scrape",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "first_email",
              "displayName": "first_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "first_follow_up",
              "displayName": "first_follow_up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "second_follow_up",
              "displayName": "second_follow_up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "third_follow_up",
              "displayName": "third_follow_up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fourth_follow_up",
              "displayName": "fourth_follow_up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fifth_follow_up",
              "displayName": "fifth_follow_up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subject_line",
              "displayName": "subject_line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1380,
        0
      ],
      "id": "04e0fcc9-e1dd-4027-b902-961de7e63bde",
      "name": "add_second_follow_up",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XdUlWBkbzjr8laJL",
          "name": "salmanadnan0206"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -460,
        1380
      ],
      "id": "9aaec079-53fa-4452-9f24-5fc33770f6fe",
      "name": "noop1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1380,
        200
      ],
      "id": "450ed3d4-a02d-4870-b6f7-484a27a48e74",
      "name": "noop"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -200,
        1380
      ],
      "id": "1e5a6555-a335-4227-8ec4-b564b58982a7",
      "name": "merge1",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1600,
        100
      ],
      "id": "fb259589-f75a-4374-af7e-d433dfac6a1f",
      "name": "merge"
    },
    {
      "parameters": {
        "batchSize": 25,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -780,
        140
      ],
      "id": "cdf08617-2009-4683-993f-7b65ca2011bc",
      "name": "loop"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        1380
      ],
      "id": "6e76776c-0de0-41fa-a55c-5bd44b3d9fd6",
      "name": "no_pass_data",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "custom",
        "customFormat": "cccc",
        "outputFieldName": "day",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1800,
        240
      ],
      "id": "261cc30e-71af-4ed7-832e-50fcc04ace62",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('essential').item.json.type }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0d0e49b3-4833-41de-a138-dbbf32a36591"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d267072d-9e31-4b0a-b2c9-715b6d9b78b5",
                    "leftValue": "={{ $('essential').item.json.type }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "42f02d9a-458f-48a5-a292-984dad52931c",
                    "leftValue": "={{ $('essential').item.json.type }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "418b0786-e1b1-45e1-a9d6-ee1a3dc2eb29",
                    "leftValue": "={{ $('essential').item.json.type }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ba066bfd-98d3-4f78-8ac6-9fd8fe8f9571",
                    "leftValue": "={{ $('essential').item.json.type }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -540,
        120
      ],
      "id": "398dde8f-0144-41cb-8c8b-e0a3e3a1d8d3",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        40,
        200
      ],
      "id": "6f5a5e3d-dbfd-471f-af78-dfa87a14b2d6",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "s33kmIC3i4BXjRqK",
          "name": "haseebadnan2257"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Now: {{ $('essential').item.json.day }}\nName: {{ $('essential').item.json.name }}\nCompany Name: {{ $('essential').item.json.company_name }}\nHeadline: {{ $('essential').item.json.headline }}\nTitle: {{ $('essential').item.json.title }}\n\n1st Email:\n\"\"\"\n{{ $('essential').item.json.first_email }}\n\"\"\"\n1st Follow-up:\n\"\"\"\n{{ $('essential').item.json.first_follow_up }}\n\"\"\"\n\nStatistics and Research for reference:\n\"\"\"\n{{ $('extract_txt').first().json.text }}\n\"\"\"\n",
        "options": {
          "systemMessage": "**Role:**\nYou are an expert AI copywriter. Your sole function is to generate a strategic follow-up email that creates urgency by highlighting competitive advantages. Your execution must be precise and adhere strictly to the rules.\n\n**Context:**\nYou are tasked with generating the third email in a sequence (the second follow-up). You will be given the context of the first email and first follow-up, along with prospect data. Your goal is to re-engage the prospect by focusing on how top competitors are using systems to get ahead.\n\n**Tools:**\nNone.\n\n**Rules:**\n1.  **Mandatory Tone:** The tone must be direct, insightful, and professional, designed to make the prospect consider the strategic threat of being out-systematized by competitors.\n2.  **Mandatory Template:** You must use the following template. No deviation is permitted.\n    Hey {{first_name}},<br><br>Your smartest competitors aren't trying to outwork you. They're trying to out-system you.<br><br>We're seeing the top teams in [[niche]] use automation to dominate tasks like [[task]], <br><br>which is exactly how they're moving faster and closing more deals. <br><br>They've effectively created leverage that manual teams can't match.<br><br>Curious to see the system they're using to get an edge?<br><br>Best,<br>{{sendingAccountName}}\n3.  **Variable Population (Strict Instructions):**\n    *   {{first_name}}: You must extract only the first name from the Name field.\n    *   [[niche]]: You must determine the prospect's niche. First, attempt to infer it from their Company Name or Headline. If you cannot determine a specific niche with high accuracy, you must default to using \"Real Estate\".\n    *   [[task]]: This is a critical instruction. Your primary source must be the first email or first follow-up. You must extract the [[task]] used in those emails for consistency. If unavailable, infer the most compelling task from Statistics and Research for reference.\n    *   {{sendingAccountName}}: You must leave this placeholder exactly as {{sendingAccountName}}.\n4.  **Strict Constraints:**\n    *   **Formatting:** You must use <br> for all new lines. Do not use \\n.\n    *   **Output Purity:** You must only return the final, generated email text. Do not include any other text, explanations, or markdown code blocks ().\n\n**Examples:**\n*   **Input Data:**\n    *   now: Monday\n    *   Name: David Chen\n    *   Company Name: Commercial Property Group\n    *   Headline: \"Specializing in commercial real estate investments\"\n    *   first email: \"Content of the first email, which included '...make *new lead qualification* instant...'\"\n    *   first follow-up: \"Content of the first follow-up email.\"\n    *   Statistics and Research for reference: \"Our system automates new lead qualification and outreach, tripling agent productivity in the first 90 days.\"\n*   AI Output (This must be the only thing you return):\n    Hey David,<br><br>Your smartest competitors aren't trying to outwork you. They're trying to out-system you.<br><br>We're seeing the top teams in commercial real estate use automation to dominate tasks like new lead qualification, <br><br>which is exactly how they're moving faster and closing more deals. <br><br>They've effectively created leverage that manual teams can't match.<br><br>Curious to see the system they're using to get an edge?<br><br>Best,<br>{{sendingAccountName}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        0,
        -300
      ],
      "id": "4d370a73-12ee-4fcb-88fa-ad343c482a04",
      "name": "generate_second_follow_up_v1",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Now: {{ $('essential').item.json.day }}\nName: {{ $('essential').item.json.name }}\nCompany Name: {{ $('essential').item.json.company_name }}\nHeadline: {{ $('essential').item.json.headline }}\nTitle: {{ $('essential').item.json.title }}\n\n1st Email:\n\"\"\"\n{{ $('essential').item.json.first_email }}\n\"\"\"\n1st Follow-up:\n\"\"\"\n{{ $('essential').item.json.first_follow_up }}\n\"\"\"\n\nStatistics and Research for reference:\n\"\"\"\n{{ $('extract_txt').first().json.text }}\n\"\"\"\n",
        "options": {
          "systemMessage": "**Role:**\nYou are an expert AI copywriter. Your sole function is to generate a high-urgency follow-up email that focuses on the critical pain point of slow lead response time. Your execution must be precise.\n\n**Context:**\nYou are tasked with generating the **second follow-up** in a sequence. You will be provided with prospect data, service statistics, and the current day (now). Your goal is to re-engage the prospect by highlighting the direct cost of inaction and proposing specific, immediate meeting times.\n\n**Tools:**\nNone.\n\n**Rules:**\n1.  **Mandatory Tone:** The tone must be direct, professional, and designed to create urgency by framing slow lead response as a \"leak\" in the prospect's business that results in lost revenue.\n2.  **Mandatory Template:** You must use the following template. No deviation is permitted.\n    Hey {{first_name}},<br><br>Following up on the idea of lead response.<br><br>Every minute a hot lead waits, their interest drops.<br><br>Every unanswered call is a potential commission lost forever.<br><br>This is the leak in most real estate funnel.<br><br>The system we have built plugs that leak by ensuring every lead gets an instant response.<br><br>[[benefit]]<br><br>Free for 5 minutes at 9 AM ET on [[Tomorrow, Business Day]] or 10 AM ET on [[Day after Tomorrow, Business Day]]?<br><br>Cheers,<br>{{sendingAccountName}}\n3.  **Variable Population (Strict Instructions):**\n    *   {{first_name}}: You must extract only the first name from the Name field.\n    *   [[benefit]]: This is a critical element. You must extract a single, super strong, and impactful benefit from the Statistics and Research for reference. It must include numbers and be **five words or less**.\n    *   [[Tomorrow, Business Day]] and [[Day after Tomorrow, Business Day]]: You must calculate these based on the now input field. Business days are Monday through Saturday. You must find the next business day after now, and the business day immediately following that one.\n    *   {{sendingAccountName}}: You must leave this placeholder exactly as {{sendingAccountName}}.\n4.  **Strict Constraints:**\n    *   **Word Count:** The email must be under 150 words.\n    *   **Formatting:** You must use <br> for all new lines. Do not use \\n.\n    *   **Output Purity:** You must only return the final, generated email text. Do not include any other text, explanations, or markdown code blocks ().\n\n**Examples:**\n*   **Input Data:**\n    *   now: Friday\n    *   Name: Jennifer Sterling\n    *   Company Name: Oakhaven Realty\n    *   Title: Senior Agent\n    *   first email: \"Content of the first email...\"\n    *   first follow-up: \"Content of the first follow-up...\"\n    *   Statistics and Research for reference: \"Our system's instant response increases lead-to-conversation rates by 400% compared to manual calling.\"\n*   AI Output (This must be the only thing you return):\n    Hey Jennifer,<br><br>Following up on the idea of lead response.<br><br>Every minute a hot lead waits, their interest drops.<br><br>Every unanswered call is a potential commission lost forever.<br><br>This is the leak in most real estate funnel.<br><br>The system we have built plugs that leak by ensuring every lead gets an instant response.<br><br>400% more lead conversations.<br><br>Free for 5 minutes at 9 AM ET on Saturday or 10 AM ET on Monday?<br><br>Cheers,<br>{{sendingAccountName}}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        0,
        0
      ],
      "id": "35f86d35-8bce-4775-8192-0945257c8243",
      "name": "generate_second_follow_up_v2",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "start",
              "type": "number"
            },
            {
              "name": "filter",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2400,
        240
      ],
      "id": "8d16dee4-b491-436b-9105-33685741441b",
      "name": "start_new_second_follow_up"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        60,
        520
      ],
      "id": "87974695-0420-4322-8993-1250c246ce34",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "WoJgsj0GgWwOGrlB",
          "name": "ninjacombo99"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Now: \"{{ $('essential').item.json.day }}\"\nName: \"{{ $('essential').item.json.name }}\"\nCompany Name: \"{{ $('essential').item.json.company_name }}\"\nHeadline: \"{{ $('essential').item.json.headline }}\"\nTitle: \"{{ $('essential').item.json.title }}\"\n",
        "options": {
          "systemMessage": "**Role:**\nYou are a specialized Email Personalization Engine. Your function is to process input data and generate a formatted email string based on a fixed template and a set of precise rules.\n\n**Context:**\nYou will be given a set of data fields (`Now`, `Name`, `Company Name`, `Headline`, `Title`) and a specific email template. Your task is to populate this template with the provided data, adhering strictly to the formatting and substitution rules, and return a single, formatted email string.\n\n**Tools:**\nNone.\n\n**Rules:**\n1.  You must use the following email template exactly as written:\n    `Hey {{first_name}},<br><br>A key point Mr.Shahid made was that this is about more than just speed—it’s about psychology.<br><br>When you engage a lead in the first 60 seconds, you don't just win the race. <br><br>You win the right to frame the entire conversation. <br><br>You build instant trust while they are at their peak moment of interest, before they've been jaded by five other agents.<br><br>This is what he meant by \"leverage.\" It’s not just operational; it’s psychological. <br><br>You're not just another agent calling—you're the only agent who responded when it mattered most.<br><br>The system we've built is designed to establish that immediate trust, every single time. We've reserved two more implementation spots for teams that understand this distinction.<br><br>Is this something you'd be open to exploring?<br><br>Best,<br>{{sendingAccountName}}`\n2.  **Field Population:**\n    *   Replace `{{first_name}}` with the first word from the `Name` field.\n    *   Keep `{{sendingAccountName}}` exactly as it is; do not change it.\n3.  **Formatting:**\n    *   Use `<br>` for all new lines. The final output must be a single string. Do not use `\\n`.\n4.  **Output Constraints:**\n    *   Your response must be ONLY the generated email string.\n    *   Do not include any other text, greetings, explanations, or markdown like ```` ``` ````.\n\n**Examples:**\n*   **Input Data:**\n    *   Now: \"Thursday\"\n    *   Name: \"Jameson Lee\"\n    *   Company Name: \"City Properties\"\n    *   Headline: \"Real Estate Visionary\"\n    *   Title: \"CEO\"\n*   **Expected Output:**\n    Hey Jameson,<br><br>A key point Mr.Shahid made was that this is about more than just speed—it’s about psychology.<br><br>When you engage a lead in the first 60 seconds, you don't just win the race. <br><br>You win the right to frame the entire conversation. <br><br>You build instant trust while they are at their peak moment of interest, before they've been jaded by five other agents.<br><br>This is what he meant by \"leverage.\" It’s not just operational; it’s psychological. <br><br>You're not just another agent calling—you're the only agent who responded when it mattered most.<br><br>The system we've built is designed to establish that immediate trust, every single time. We've reserved two more implementation spots for teams that understand this distinction.<br><br>Is this something you'd be open to exploring?<br><br>Best,<br>{{sendingAccountName}}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        20,
        320
      ],
      "id": "2692c54f-8e19-42d4-b1c1-8d414c78ab70",
      "name": "generate_second_follow_up_v3",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        20,
        860
      ],
      "id": "36eb5b0e-9ada-47a5-87bd-ac32ee99ba7b",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "WoJgsj0GgWwOGrlB",
          "name": "ninjacombo99"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Now: \"{{ $('essential').item.json.day }}\"\nName: \"{{ $('essential').item.json.name }}\"\nCompany Name: \"{{ $('essential').item.json.company_name }}\"\nHeadline: \"{{ $('essential').item.json.headline }}\"\nTitle: \"{{ $('essential').item.json.title }}\"\n",
        "options": {
          "systemMessage": "**Role:**\nYou are a specialized Email Personalization Engine. Your function is to process input data and generate a formatted email string based on a fixed template and a set of precise rules.\n\n**Context:**\nYou will be given a set of data fields (`Now`, `Name`, `Company Name`, `Headline`, `Title`) and a specific email template. Your task is to populate this template with the provided data, adhering strictly to the formatting and substitution rules, and return a single, formatted email string.\n\n**Tools:**\nNone.\n\n**Rules:**\n1.  You must use the following email template exactly as written:\n    `Hi {{first_name}},<br><br>The toughest part about that 'locked door' problem? You're still paying for the visitor.<br><br>Your marketing budget does its job perfectly—it gets them to the house. <br><br>The breakdown is the handoff.<br><br>My partners and I are helping three more teams install a proper welcoming system this month before our onboarding pipeline is full.<br><br>Worth a brief chat to see if it's a fit?<br><br>Cheers,<br>{{sendingAccountName}}`\n2.  **Field Population:**\n    *   Replace `{{first_name}}` with the first word from the `Name` field.\n    *   Keep `{{sendingAccountName}}` exactly as it is; do not change it.\n3.  **Formatting:**\n    *   Use `<br>` for all new lines. The final output must be a single string. Do not use `\\n`.\n4.  **Output Constraints:**\n    *   Your response must be ONLY the generated email string.\n    *   Do not include any other text, greetings, explanations, or markdown like ```` ``` ````.\n\n**Examples:**\n*   **Input Data:**\n    *   Now: \"Wednesday\"\n    *   Name: \"David Lee\"\n    *   Company Name: \"NextGen Realty\"\n    *   Headline: \"Leading Broker at NextGen Realty\"\n    *   Title: \"Broker\"\n*   **Expected Output:**\n    Hi David,<br><br>The toughest part about that 'locked door' problem? You're still paying for the visitor.<br><br>Your marketing budget does its job perfectly—it gets them to the house. <br><br>The breakdown is the handoff.<br><br>My partners and I are helping three more teams install a proper welcoming system this month before our onboarding pipeline is full.<br><br>Worth a brief chat to see if it's a fit?<br><br>Cheers,<br>{{sendingAccountName}}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -20,
        660
      ],
      "id": "2a0b0f59-b1f5-4f6f-ae43-7e3f489d06da",
      "name": "generate_second_follow_up_v4",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1e76b51-0d66-43ef-8ebe-d5e060764d32",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "94006bf5-89bf-4995-a2b0-2efce8b64584",
              "name": "row_number",
              "value": "={{ $('essential').item.json.row_number }}",
              "type": "string"
            },
            {
              "id": "8b6b2618-daf4-4610-ade7-8c19635a669e",
              "name": "type",
              "value": "={{ $('essential').item.json.type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        100
      ],
      "id": "1b57e286-3d6b-4d4a-82bc-9fee11e625eb",
      "name": "Final"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        40,
        1220
      ],
      "id": "f37dda37-f7c4-456b-aa85-aec4f765ca44",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "WoJgsj0GgWwOGrlB",
          "name": "ninjacombo99"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Now: \"{{ $('essential').item.json.day }}\"\nName: \"{{ $('essential').item.json.name }}\"\nCompany Name: \"{{ $('essential').item.json.company_name }}\"\nHeadline: \"{{ $('essential').item.json.headline }}\"\nTitle: \"{{ $('essential').item.json.title }}\"\n",
        "options": {
          "systemMessage": "**Role:**\nYou are a specialized Email Personalization Engine. Your function is to process input data and generate a formatted email string based on a fixed template and a set of precise rules.\n\n**Context:**\nYou will be given a set of data fields (`Now`, `Name`, `Company Name`, `Headline`, `Title`) and a specific email template. Your task is to populate this template with the provided data, adhering strictly to the formatting and substitution rules, and return a single, formatted email string.\n\n**Tools:**\nNone.\n\n**Rules:**\n1.  You must use the following email template exactly as written (note: `{{name}}` from the original has been corrected to `{{first_name}}` to match instructions):\n    `Hey {{first_name}},<br><br>When you hit a growth ceiling, the default move is another hire. <br><br>That’s a 3-month ramp-up and $80K+ you won't see a return on until next year.<br><br>Our partners see a return in weeks. <br><br>Their system is fully deployed in 48 hours for a fraction of the cost, and it works with perfect consistency 24/7/365.<br><br>This isn't just better, it's a different economic model entirely.<br><br>We have two partner spots left for this final cohort. I'd be happy to walk you through the business case.<br><br>Let me know.<br><br>Best,<br>{{sendingAccountName}}`\n2.  **Field Population:**\n    *   Replace `{{first_name}}` with the first word from the `Name` field.\n    *   Keep `{{sendingAccountName}}` exactly as it is; do not change it.\n3.  **Formatting:**\n    *   Use `<br>` for all new lines. The final output must be a single string. Do not use `\\n`.\n4.  **Output Constraints:**\n    *   Your response must be ONLY the generated email string.\n    *   Do not include any other text, greetings, explanations, or markdown like ```` ``` ````.\n\n**Examples:**\n*   **Input Data:**\n    *   Now: \"Tuesday\"\n    *   Name: \"Samantha Jones\"\n    *   Company Name: \"Starlight Properties\"\n    *   Headline: \"VP of Sales\"\n    *   Title: \"VP\"\n*   **Expected Output:**\n    Hey Samantha,<br><br>When you hit a growth ceiling, the default move is another hire. <br><br>That’s a 3-month ramp-up and $80K+ you won't see a return on until next year.<br><br>Our partners see a return in weeks. <br><br>Their system is fully deployed in 48 hours for a fraction of the cost, and it works with perfect consistency 24/7/365.<br><br>This isn't just better, it's a different economic model entirely.<br><br>We have two partner spots left for this final cohort. I'd be happy to walk you through the business case.<br><br>Let me know.<br><br>Best,<br>{{sendingAccountName}}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        0,
        1020
      ],
      "id": "38611db1-53d2-40c7-9c4c-a348c6df1359",
      "name": "generate_second_follow_up_v",
      "alwaysOutputData": true,
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "read_ai_research": {
      "main": [
        [
          {
            "node": "extract_txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "leads_data": {
      "main": [
        [
          {
            "node": "filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter": {
      "main": [
        [
          {
            "node": "essential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "essential": {
      "main": [
        [
          {
            "node": "if_second_follow_up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_second_follow_up": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "noop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract_txt": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is_output": {
      "main": [
        [
          {
            "node": "clean_second_folllow_up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "noop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "generate_second_follow_up_v1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "clean_second_folllow_up": {
      "main": [
        [
          {
            "node": "add_second_follow_up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_second_follow_up": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "noop1": {
      "main": [
        [
          {
            "node": "merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "noop": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "merge1": {
      "main": [
        [
          {
            "node": "no_pass_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop": {
      "main": [
        [
          {
            "node": "merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "leads_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "generate_second_follow_up_v1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "generate_second_follow_up_v2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "generate_second_follow_up_v3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "generate_second_follow_up_v4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "generate_second_follow_up_v",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "generate_second_follow_up_v2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "generate_second_follow_up_v1": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_second_follow_up_v2": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start_new_second_follow_up": {
      "main": [
        [
          {
            "node": "read_ai_research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "generate_second_follow_up_v3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "generate_second_follow_up_v3": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "generate_second_follow_up_v4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "generate_second_follow_up_v4": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final": {
      "main": [
        [
          {
            "node": "is_output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "generate_second_follow_up_v",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "generate_second_follow_up_v": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7cd3ed2a-228b-4c34-be12-67f92bc5f3cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b51ae8788dd58e03d5965cccb0929bf8052ea05534f8bb79c40e8c893c3493be"
  },
  "id": "EVvU5n0eVNBPRi0L",
  "tags": []
}